h1.post-title { text-transform: capitalize; color: black; font-size: 2em; }

h2.post {color: black; margin-top: 1.5em; margin-bottom: 1em;}

hr.end-single-post { margin-top: 1em; margin-bottom: 0em; }

hr.end-post { margin-top: 1em; margin-bottom: 2em; }

blockquote {
	font-size: 1.2em;
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:after {
	content: ""
}

blockquote p {
	display: inline;
	margin-right: -4px;
}

blockquote cite {
	font-style: italic;
	font-size: 0.8em;
	margin: 1em 10px;
}

blockquote cite:before {
	content: "\2014 \2009";
}
