/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

/* @import url(//fonts.googleapis.com/css?family=Montserrat|Open+Sans); */
/* @import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */
@import "asciidoctor.css"; /* Default asciidoc style framework - important */
/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#dbdada;
--primarycolor:#4A9EE3; /* Blue  #0f68bb */
--secondarycolor:#294172; /* Fedora Drak Blue */
--tertiarycolor:#CCCCCC;
--highlightcolor: #e59728;   /* #e59728; Features Orange #c3c209 */
--sidebarbackground:#CACACA;
--linkcolor:#f8a839;
--linkcoloralternate:#db3279; /* Friends Magneta */
--white:#FFFFFF;
--black:#222222;
}

/* Text styles */

body{background-color: var(--maincolor);color:var(--white);}

h1{color:var(--primarycolor) !important;}
h2,h3,h4,h5,h6{color:var(--primarycolor) !important;}
.primary{color:var(--primarycolor) !important;}
.title{font-style: normal; font-weight: normal;}
a{text-decoration: none;}
#toc.toc2 a:link{color:var(--linkcolor);}
/* code{color:var(--white);background-color: var(--highlightcolor) !important} */
mark{background-color: var(--highlightcolor);} /* Text highlighting color */
.highlightcolor {font-family: "Space Mono"; color: var(--highlightcolor) !important; } /* Text highlighting color */
.background-primary{background-color: var(--primarycolor);}
#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

/* Responsiveness fixes */
video {
  max-width: 100%;
}
