---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
    scroll-behavior: smooth
}

body {
    background: red;
}

// Our variables
$base-font-family: Lato;
$base-font-size: 18px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Intro wrapper css

.intro-wrapper section {
    position: absolute;
    top: 16%;
    width: 100%;
    color: white!important;
}

.intro-wrapper h1 {
    color: white!important;
}

#particles-js {
    background: #8c2335!important;
    height: 100vh;
}

// Import partials from `sass_dir` (defaults to `_sass`)
.vh-100 {
  height: 100vh!important;  
}
@import "docs";
@import "infinite-slider";
@import "prettify";
@import "layout";
@import "red";
@import "blog";
@import "ekko-lightbox";

@media screen and (max-width: 500px) {
   .mobile-hidden {
    display: none;
    }
}


.intro-logo-wrapper .header__desc {
    color: white;
    opacity: 0.7;
}

.animated-container section{
    width:50%;
    left:25%;
}

.intro-logo {
    max-width: 55vw;
    opacity: 0.6;
    // background: #8c2335!important;
}

