---
---

@charset "utf-8";

html {
    scroll-behavior: smooth;
}

// Our variables
$base-font-family: Noto;
$base-font-size: 18px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

body {
    background: #fff;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "bootstrap/bootstrap";
@import "infinite-slider";
@import "layout";
@import "rouge-vim.css";

@media screen and (max-width: 500px) {
    .mobile-hidden {
        display: none;
    }
}

#top {
    border-width: 0 0 13px 0;
}

#mainHeader {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background: var(--primarycolor);

    .navbar-inner {
        background: #444;
        filter: none !important;
    }
}

.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}

@media screen and (min-width: 421px) {
    #top {
        min-height: 18rem;
    }
}

@media screen and (max-width: 420px) {
    #top {
        min-height: 10rem;
    }
}

.top-1 {
    font-size: 5.5vw;
}

.top-2 {
    font-size: 3.4vw;
}

.top-3 {
    font-size: 3vw;
}

.top-4 {
    font-size: 2.2vw;
}

.top-5 {
    font-size: 2.1vw;
}

@media screen and (max-width: 768px) {
    .top-1 {
        font-size: 42px;
    }

    .top-2 {
        font-size: 26px;
    }

    .top-3 {
        font-size: 24px;
    }

    .top-4 {
        font-size: 20px;
    }

    .top-5 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1025px) {
    .top-1 {
        font-size: 64px;
    }

    .top-2 {
        font-size: 42px;
    }

    .top-3 {
        font-size: 38px;
    }
}

.text-lightcyan {
    color: lightcyan;
}

.text-orange {
    color: orange;
}

.text-lightgreen {
    color: rgb(100, 156, 102);
}

.display-5 {
    font-size: 1.7rem;
    font-weight: 300;
}

.zoom {
    transition: transform .5s ease;
}

.zoom:hover {
    transform: scale(1.1);
    filter: brightness(95%);
    z-index: 1;
}