
 <div class="container-fluid bg-light m-0 p-0" style="border-bottom: 5px solid #9b253a;">
    <div class="container bg-light">
        <div class="row my-0">
            <div class="col-12 col-md-6">
                <img class="img-fluidx mx-auto d-block" width="256px" src="/images/sale.png"/>
            </div>
            <div class="col-12 col-md-6 px-5 py-3">
                <h2><strong>Cyber Monday Deal</strong></h2>
                <div class="lead"><mark class="display-5">50% off</mark> on RESTHeart Platform PE</div>
                <p class="text-muted mt-2">Use coupon code <span class="restheart-red">CYBERMONDAY</span> during checkout</p>
                <p class="text-muted small">Valid until December the 8th</p>
                <a href="/get?i=buy" class="btn btn-primary mt-3">Buy now!</a>
            </div>
        </div>
    </div>
</div>