<div class="alert alert-warning" role="alert">
    <h2 class="alert-heading">
            <svg class="float-left mr-3 my-auto d-block" width="30px" height="30px">
                    <use xlink:href="/images/sprite.svg#feather" />
                </svg>
        This page is being updating.
        
    </h2>
    <hr class="mt-2 mb-2">
    <p><strong>REST</strong>Heart v4 introduces many news features, improvements and changes.</p>
    <p>As a consequence, this page will be updated soon.</p>
    <p>Read <a href="/docs/upgrade-to-v4" class="alert-link">Upgrade to v4</a> for a one-page description of the changes.
    </p>
</div>