<div class="container mt-5 mb-5">
    <h1>Widely Adopted</h1>
    <h3 class="text-center">RESTHeart Docker Image Pulls</h3>
</div>

<canvas id="dockerPullChart"></canvas>

<script>
    // Chartjs custom plugin to always show last tooltip
    // got from https://stackoverflow.com/questions/36992922/chart-js-v2-how-to-make-tooltips-always-appear-on-pie-chart
    Chart.pluginService.register({
        beforeRender: function (chart) {
            if (chart.config.options.showLastTooltip) {
                // create an array of tooltips
                // we can't use the chart tooltip because there is only one tooltip per chart
                chart.pluginTooltips = [];
                chart.config.data.datasets.forEach(function (dataset, i) {
                    var last = chart.getDatasetMeta(i).data.length - 1;
                    var idx = 0;

                    chart.getDatasetMeta(i).data.forEach(function (sector, j) {
                        if (idx === last) {
                            chart.pluginTooltips.push(new Chart.Tooltip({
                                _chart: chart.chart,
                                _chartInstance: chart,
                                _data: chart.data,
                                _options: chart.options.tooltips,
                                _active: [sector]
                            }, chart));
                        }

                        idx++;
                    });
                });

                // turn off normal tooltips
                //chart.options.tooltips.enabled = false;
            }
        },
        afterDraw: function (chart, easing) {
            if (chart.config.options.showLastTooltip) {
                // we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
                if (!chart.allTooltipsOnce) {
                    if (easing !== 1)
                        return;
                    chart.allTooltipsOnce = true;
                }

                // turn on tooltips
                chart.options.tooltips.enabled = true;
                Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
                    tooltip.initialize();
                    tooltip.update();
                    // we don't actually need this since we are not animating tooltips
                    tooltip.pivot();
                    tooltip.transition(easing).draw();
                });
                // chart.options.tooltips.enabled = false;
            }
        }
    });

    $(document).ready(function () {
        // the script /etc/cron.daily/rh-pull-count runs at dbapi.io
        // and POSTs the stats every day to beta.mrest.io/demo/stats
        $.ajax({
            url: "https://beta.mrest.io/demo/stats?pagesize=10", success: function (result) {
                if (result && result.reverse && result.map) {
                    result.reverse();

                    var data = result.map(function (x) {
                        return x.pull_count;
                    });


                    var max = 0;
                    data.forEach(function (x) { if (x > max) { max = x } });
                    max = +max + 100;

                    var labels = result.map(function (x) {
                        var date = new Date(x.timestamp.$date);
                        return new Date(date.setDate(date.getDate()-1)).toISOString().substring(0, 10);
                    });

                    var ctx = $("#dockerPullChart");
                    var dockerPullChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                data: data,
                                backgroundColor: 'rgba(0, 0, 0, 0.3)',
                                borderColor: 'rgba(0, 0, 0, .3)',
                                pointBackgroundColor: 'rgba(255, 255, 255, 1)',
                                pointHoverBackgroundColor: 'rgba(255, 255, 255, 1)',
                                pointBorderColor: 'rgba(155, 37, 58, 1)',
                                pointHoverBorderColor: 'rgba(155, 37, 58, 1)',
                                pointBorderWidth: 4,
                                pointHoverBorderWidth: 6,
                                borderWidth: 2,
                                pointRadius: 10,
                                pointHoverRadius: 12,
                                fill: false
                            }]
                        },
                        options: {
                            showLastTooltip: true,
                            legend: { display: false },
                            scales: {
                                yAxes: [{
                                    display: false,
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false,
                                        suggestedMax: max
                                    }
                                }],
                                xAxes: [{
                                    display: false
                                }]
                            },
                            layout: {
                                padding: {
                                    left: 20,
                                    right: 20,
                                    top: 10,
                                    bottom: 10
                                }
                            },
                            animation: {
                                duration: 500
                            },
                            tooltips: {
                                displayColors: false,
                                backgroundColor: 'rgba(155, 37, 58, 1)',
                                bodyFontSize: 18
                            }
                        }
                    });
                }
            }
        });
    });
</script>