<div class="container mt-5 mb-5">
    <h1>Widely Adopted</h1>
    <div class="container text-center">
        <a href="https://hub.docker.com/r/softinstigate/restheart">
            <img height="27" class="align-top rounded sm-2 mt-2 xs-2" alt="Docker Pulls"
                src="https://img.shields.io/docker/pulls/softinstigate/restheart.svg?style=for-the-badge">
        </a>
        <a href="https://github.com/SoftInstigate/restheart/releases">
            <img height="27" class="align-top rounded sm-2 mt-2 xs-2" alt="GitHub All Releases"
                src="https://img.shields.io/github/downloads/softinstigate/restheart/total.svg?style=for-the-badge">
        </a>
        <a href="https://github.com/SoftInstigate/restheart">
            <img height="27" class="align-top rounded sm-2 mt-2 xs-2" alt="GitHub stars"
                src="https://img.shields.io/github/stars/softinstigate/restheart.svg?color=red&label=GitHub%20stars&style=for-the-badge">
        </a>
        <!--
            <a href="https://twitter.com/softinstigate" class="twitter-follow-button" data-show-count="false"
                data-size="large" data-show-screen-name="false">Follow us on Twitter</a>
            <a href="https://twitter.com/share" class="twitter-share-button"
                data-text="Check out RESTHeart, the open source REST API Server for MongoDB" data-via="softinstigate"
                data-size="large" data-related="softinstigate" data-hashtags="RESTHeart">Tweet</a>
            -->
    </div>
    <h3 class="text-center sm-2 mt-2 xs-2">Graph of RESTHeart Docker image's pulls</h3>
</div>

<canvas id="dockerPullChart"></canvas>

<script>
    // Chartjs custom plugin to always show last tooltip
    // got from https://stackoverflow.com/questions/36992922/chart-js-v2-how-to-make-tooltips-always-appear-on-pie-chart
    Chart.pluginService.register({
        beforeRender: function (chart) {
            if (chart.config.options.showLastTooltip) {
                // create an array of tooltips
                // we can't use the chart tooltip because there is only one tooltip per chart
                chart.pluginTooltips = [];
                chart.config.data.datasets.forEach(function (dataset, i) {
                    var last = chart.getDatasetMeta(i).data.length - 1;
                    var idx = 0;

                    chart.getDatasetMeta(i).data.forEach(function (sector, j) {
                        if (idx === last) {
                            chart.pluginTooltips.push(new Chart.Tooltip({
                                _chart: chart.chart,
                                _chartInstance: chart,
                                _data: chart.data,
                                _options: chart.options.tooltips,
                                _active: [sector]
                            }, chart));
                        }

                        idx++;
                    });
                });

                // turn off normal tooltips
                //chart.options.tooltips.enabled = false;
            }
        },
        afterDraw: function (chart, easing) {
            if (chart.config.options.showLastTooltip) {
                // we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
                if (!chart.allTooltipsOnce) {
                    if (easing !== 1)
                        return;
                    chart.allTooltipsOnce = true;
                }

                // turn on tooltips
                chart.options.tooltips.enabled = true;
                Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
                    tooltip.initialize();
                    tooltip.update();
                    // we don't actually need this since we are not animating tooltips
                    tooltip.pivot();
                    tooltip.transition(easing).draw();
                });
                // chart.options.tooltips.enabled = false;
            }
        }
    });

    $(document).ready(function () {
        // the script /etc/cron.daily/rh-pull-count runs at dbapi.io
        // and POSTs the stats every day to beta.mrest.io/demo/stats
        $.ajax({
            url: "https://beta.mrest.io/demo/stats?pagesize=10",
            beforeSend: function (xhr) { xhr.setRequestHeader('key', 'demo'); },
            success: function (result) {
                if (result && result.reverse && result.map) {
                    result.reverse();

                    var data = result.map(function (x) {
                        return x.pull_count;
                    });

                    var max = 0;
                    data.forEach(function (x) { if (x > max) { max = x } });
                    max = +max + 100;

                    var labels = result.map(function (x) {
                        var date = new Date(x.timestamp.$date);
                        return new Date(date.setDate(date.getDate() - 1)).toISOString().substring(0, 10);
                    });

                    var ctx = $("#dockerPullChart");
                    var dockerPullChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                data: data,
                                backgroundColor: 'rgba(0, 0, 0, 0.3)',
                                borderColor: 'rgba(0, 0, 0, .3)',
                                pointBackgroundColor: 'rgba(255, 255, 255, 1)',
                                pointHoverBackgroundColor: 'rgba(255, 255, 255, 1)',
                                pointBorderColor: 'rgba(155, 37, 58, 1)',
                                pointHoverBorderColor: 'rgba(155, 37, 58, 1)',
                                pointBorderWidth: 4,
                                pointHoverBorderWidth: 6,
                                borderWidth: 2,
                                pointRadius: 10,
                                pointHoverRadius: 12,
                                fill: false
                            }]
                        },
                        options: {
                            showLastTooltip: true,
                            legend: { display: false },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    gridLines: {
                                        display: true
                                    },
                                    ticks: {
                                        display: true,
                                        suggestedMax: max
                                    }
                                }],
                                xAxes: [{
                                    display: true
                                }]
                            },
                            layout: {
                                padding: {
                                    left: 20,
                                    right: 20,
                                    top: 10,
                                    bottom: 10
                                }
                            },
                            animation: {
                                duration: 1000
                            },
                            tooltips: {
                                displayColors: false,
                                backgroundColor: 'rgba(155, 37, 58, 1)',
                                bodyFontSize: 18
                            }
                        }
                    });
                }
            }
        });
    });
</script>