<h2 id="get-started"><a href="/docs/v6">Get Started</a></h2>
<ul>
    <li><a href="/docs/v6/setup">Setup</a></li>
    <li><a href="/docs/v6/try">Try RESTHeart online</a></li>
    <li><a href="/docs/v6/tutorial">Absolute Beginner Tutorial</a></li>
    <li><a href="/docs/v6/video-tutorials"><strong>Video Tutorials</strong></a></li>
    <li><a href="/docs/v6/quick-reference">Quick Reference</a></li>
    <li><a href="/docs/v6/resource-uri">Resource URIs</a></li>
    <li><a href="/docs/v6/graalvm">GraalVM</a></li>
    <li><a href="/docs/v6/representation-format">Representation Format</a></li>
    <li><a href="/docs/v6/logging">Logging</a></li>
    <li><a href="/docs/v6/tutorials">Other tutorials</a></li>
    <li><a href="/docs/v6/performances">Performances</a></li>
    <li><a href="/docs/v6/clustering">Clustering & Load Balancing</a></li>
    <li><a href="/docs/v6/enterprise-license">Enterprise License</a></li>
</ul>

<h2 id="upgrade-to-v5"><a href="/docs/v6/upgrade-to-v6">Upgrade to v6</a></h2>
<h2 id="roadmap"><a href="/docs/v6/roadmap">Roadmap</a></h2>

<h2 id="content-api">Content API</h2>
<ul>
    <li><a href="/docs/v6/read-docs">Read JSON Documents</a></li>
    <li><a href="/docs/v6/write-docs">Write JSON Documents</a></li>
    <li><a href="/docs/v6/files">Binary Files with GridFS</a></li>
    <li><a href="/docs/v6/aggregations">Aggregations</a></li>
    <li><a href="/docs/v6/csv">Upload CSV files</a></li>
    <li><a href="/docs/v6/json-schema-validation">JSON Schema Validation</a></li>
    <li><a href="/docs/v6/change-streams">Change Streams</a></li>
    <li><a href="/docs/v6/transactions">Transactions</a></li>
</ul>

<h2 id="mgmt-api">Management API</h2>
<ul>
    <li><a href="/docs/v6/mgmt/dbs-collections">Databases and Collections</a></li>
    <li><a href="/docs/v6/mgmt/indexes">Indexes</a></li>
    <li><a href="/docs/v6/mgmt/relationships">Relationships</a></li>
</ul>

<h2 id="security">Securing Requests</h2>
<ul>
    <li><a href="/docs/v6/security/overview">Overview</a></li>
    <li><a href="/docs/v6/security/authentication">Authentication</a></li>
    <li><a href="/docs/v6/security/authorization">Authorization</a></li>
    <li><a href="/docs/v6/security/user-management">User Management</a></li>
    <li><a href="/docs/v6/security/tls">Configure TLS</a></li>
    <li><a href="/docs/v6/security/secure-connection-to-mongodb">Secure connection to MongoDB</a></li>
    <li><a href="/docs/v6/security/how-clients-authenticate">How Clients Authenticate</a></li>
</ul>

<h2 id="plugins">Plugins</h2>
<ul>
    <li><a href="/docs/v6/plugins/overview">Overview</a></li>
    <li><a href="/docs/v6/plugins/dev-env">Development Environment Setup</a></li>
    <li><a href="/docs/v6/plugins/core-plugins">Core Plugins</a></li>
    <li><a href="/docs/v6/plugins/security-plugins">Security Plugins</a></li>
    <li><a href="/docs/v6/plugins/deploy">How to deploy a Plugin</a></li>
</ul>

<h2 id="other-fatures">Other Features</h2>
<ul>
    <li><a href="/docs/v6/proxy">Proxying requests</a></li>
    <li><a href="/docs/v6/static-resources">Serving static resources</a></li>
    <li><a href="/docs/v6/etag">ETag</a></li>
    <li><a href="/docs/v6/cors-support">CORS Support</a></li>
    <li><a href="/docs/v6/shard-keys">Shard Keys</a></li>
    <li><a href="/docs/v6/speedup-requests-with-cursor-pools">Cursor Pools</a></li>
    <li><a href="/docs/v6/monitoring">Monitoring</a></li>
    <li><a href="/docs/v6/auditing">Auditing</a></li>
</ul>