<h2 id="getting-started"><a href="/docs">Intoduction</a></h2>

<h2 id="getting-started">Getting Started</h2>
<ul>
    <li><a href="/docs/v5/setup">Setup</a></li>
    <li><a href="/docs/v5/configuration">Configuration</a></li>
    <li><a href="/docs/v5/tutorial">Absolute Beginner Tutorial</a></li>
    <li><a href="/docs/v5/quick-reference">Quick Reference</a></li>
    <li><a href="/docs/v5/resource-uri">Resource URIs</a></li>
    <li><a href="/docs/v5/representation-format">Representation Format</a></li>
    <li><a href="/docs/v5/tutorials">Tutorials</a></li>
    <li><a href="/docs/v5/performances">Performances</a></li>
    <li><a href="/docs/v5/clustering">Clustering & Load Balancing</a></li>
</ul>

<h2 id="upgrading-from-3"><a href="/docs/v5/upgrade-to-v4">Upgrade to v4</a></h2>
<h2 id="upgrading-from-3"><a href="/docs/v5/roadmap">Roadmap</a></h2>

<h2 id="content-api">Content API</h2>
<ul>
    <li><a href="/docs/v5/read-docs">Read JSON Documents</a></li>
    <li><a href="/docs/v5/write-docs">Write JSON Documents</a></li>
    <li><a href="/docs/v5/files">Binary Files</a></li>
    <li><a href="/docs/v5/aggregations">Aggregations</a></li>
    <li><a href="/docs/v5/csv">Upload CSV files</a></li>
    <li><a href="/docs/v5/json-schema-validation">JSON Schema Validation</a></li>
    <li><a href="/docs/v5/change-streams">Change Streams</a></li>
    <li><a href="/docs/v5/transactions">Transactions</a></li>
</ul>

<h2 id="mgmt-api">Management API</h2>
<ul>
    <li><a href="/docs/v5/mgmt/dbs-collections">Databases and Collections</a></li>
    <li><a href="/docs/v5/mgmt/indexes">Indexes</a></li>
    <li><a href="/docs/v5/mgmt/relationships">Relationships</a></li>
</ul>

<h2 id="security">Securing Requests</h2>
<ul>
    <li><a href="/docs/v5/security/overview">Overview</a></li>
    <li><a href="/docs/v5/security/authentication">Authentication</a></li>
    <li><a href="/docs/v5/security/authorization">Authorization</a></li>
    <li><a href="/docs/v5/security/user-management">User Management</a></li>
    <li><a href="/docs/v5/security/tls">Configure TLS</a></li>
    <li><a href="/docs/v5/security/secure-connection-to-mongodb">Secure connection to MongoDB</a></li>
    <li><a href="/docs/v5/security/how-clients-authenticate">How Clients Authenticate</a></li>
</ul>


<h2 id="plugins">Plugins</h2>
<ul>
    <li><a href="/docs/v5/plugins/overview">Overview</a></li>
    <li><a href="/docs/v5/plugins/apply">Apply plugins</a></li>
    <li><a href="/docs/v5/plugins/list">Available plugins</a></li>
</ul>

<h2 id="develop-core-plugins">Develop Plugins</h2>
<ul>
    <li><a href="/docs/v5/develop/core-plugins">Core Plugins</a></li>
    <li><a href="/docs/v5/develop/security-plugins">Security Plugins</a></li>
    <li><a href="/docs/v5/develop/packaging">Packaging Plugins</a></li>
    <li><a href="/docs/v5/develop/best-practices">Best practices</a></li>
</ul>

<h2 id="other-fatures">Other Features</h2>
<ul class="mb-5">
    <li><a href="/docs/v5/etag">ETag</a></li>
    <li><a href="/docs/v5/cors-support">CORS Support</a></li>
    <li><a href="/docs/v5/shard-keys">Shard Keys</a></li>
    <li><a href="/docs/v5/speedup-requests-with-cursor-pools">Cursor Pools</a></li>
    <li><a href="/docs/v5/monitoring">Monitoring</a></li>
    <li><a href="/docs/v5/auditing">Auditing</a></li>
</ul>
