<h2 id="get-started">Get Started</h2>
<ul>
    <li><a href="/docs/v6">Overview</a></li>
    <li><a href="/docs/v6/try">Try RESTHeart online</a></li>
    <li><a href="/docs/v6/ng-demo">A simple Angular demo</a></li>
    <li><a href="/docs/v6/tutorial">Data API Tutorial</a></li>
    <li><a href="/docs/v6/performances">Performances</a></li>
    <li><a href="/docs/v6/blog-posts">Blog posts</a></li>
    <li><a href="/docs/v6/video-tutorials">Video Tutorials</a></li>
    <li><a href="/docs/v6/upgrade-to-v6">Upgrade to v6</a></li>
    <li><a href="https://github.com/SoftInstigate/restheart/discussions/425">Roadmap for v7</a></li>
</ul>


<h2 id="get-started" class="mt-2">Installation and Configuration</h2>
<ul>
    <li><a href="/docs/v6/setup"><strong>Setup</strong></a></li>
    <li><a href="/docs/v6/setup-with-docker">Setup with Docker</a></li>
    <li><a href="/docs/v6/configuration">Configuration</a></li>
    <li><a href="/docs/v6/security/tls">Configure TLS</a></li>
    <li><a href="/docs/v6/security/security-hardening">Security Hardening</a></li>
    <li><a href="/docs/v6/clustering">Clustering &amp; Load Balancing</a></li>
    <li><a href="/docs/v6/enterprise-license">Enterprise License</a></li>
</ul>

<h2 id="core" class="mt-2">Core Framework</h2>
<ul>
    <li><a href="/docs/v6/plugins/overview">Overview</a></li>
    <li><a href="/docs/v6/plugins/dev-env">Development Environment Setup</a></li>
    <li><a href="/docs/v6/plugins/deploy">How to deploy Plugins</a></li>
    <li><a href="/docs/v6/plugins/core-plugins">Core Plugins</a></li>
    <li><a href="/docs/v6/plugins/core-plugins-js">Core Plugins in JavaScript</a></li>
    <li><a href="/docs/v6/plugins/security-plugins">Security Plugins</a></li>
    <li><a href="/docs/v6/graalvm"><strong>GraalVM</strong></a></li>
    <li><a href="/docs/v6/proxy">Proxying requests</a></li>
    <li><a href="/docs/v6/static-resources">Serving static resources</a></li>
    <li><a href="/docs/v6/cors-support">CORS Support</a></li>
    <li><a href="/docs/v6/logging">Logging</a></li>
    <li><a href="/docs/v6/auditing">Auditing</a></li>
</ul>

<h2 id="security" class="mt-2">Authentication and Authorization</h2>
<ul>
    <li><a href="/docs/v6/security/overview">Overview</a></li>
    <li><a href="/docs/v6/security/authentication">Authentication</a></li>
    <li><a href="/docs/v6/security/authorization">Authorization</a></li>
    <li><a href="/docs/v6/security/user-management">User Management</a></li>
    <li><a href="/docs/v6/security/how-clients-authenticate">How Clients Authenticate</a></li>
</ul>

<h2 id="data-api" class="mt-2">Data API on MongoDB</h2>
<h3>REST API</h3>
<ul>
    <li><a href="/docs/v6/mongodb-rest/resource-uri">Resource URIs</a></li>
    <li><a href="/docs/v6/mongodb-rest/representation-format">Representation Format</a></li>
    <li><a href="/docs/v6/mongodb-rest/sample-data">Load Sample Data into MongoDB</a></li>
    <li><a href="/docs/v6/mongodb-rest/read-docs">Read JSON Documents</a></li>
    <li><a href="/docs/v6/mongodb-rest/write-docs">Write JSON Documents</a></li>
    <li><a href="/docs/v6/mongodb-rest/files">Binary Files with GridFS</a></li>
    <li><a href="/docs/v6/mongodb-rest/secure-connection-to-mongodb">Secure connection to MongoDB</a></li>
    <li><a href="/docs/v6/mongodb-rest/aggregations">Aggregations</a></li>
    <li><a href="/docs/v6/mongodb-rest/dbs-collections">Manage Dbs and Collections</a></li>
    <li><a href="/docs/v6/mongodb-rest/indexes">Indexes</a></li>
    <li><a href="/docs/v6/mongodb-rest/relationships">Relationships</a></li>
    <li><a href="/docs/v6/mongodb-rest/csv">Upload CSV files</a></li>
    <li><a href="/docs/v6/mongodb-rest/json-schema-validation">JSON Schema Validation</a></li>
    <li><a href="/docs/v6/mongodb-rest/transactions">Transactions</a></li>
    <li><a href="/docs/v6/mongodb-rest/etag">ETag</a></li>
    <li><a href="/docs/v6/mongodb-rest/speedup-requests-with-cursor-pools">Cursor Pools</a></li>
    <li><a href="/docs/v6/mongodb-rest/shard-keys">Shard Keys</a></li>
    <li><a href="/docs/v6/mongodb-rest/monitoring">Monitoring</a></li>
</ul>

<h3 id="graphql">GraphQL API</h3>
<ul>
    <li><a href="/docs/v6/mongodb-graphql/">GraphQL Applications</a></li>
    <li><a href="/docs/v6/mongodb-graphql/optimization">Optimization</a></li>
    <li><a href="/docs/v6/mongodb-graphql/example">Example</a></li>
</ul>

<h3 id="websocket">Websocket API</h3>
<ul>
    <li><a href="/docs/v6/mongodb-websocket/">Websocket API</a></li>
    <li><a href="/docs/v6/mongodb-websocket/change-streams">Streams definition</a></li>
    <li><a href="/docs/v6/mongodb-websocket/variables">Variables</a></li>
    <li><a href="/docs/v6/mongodb-websocket/examples">Examples</a></li>
</ul>