<h2 id="getting-started"><a href="/docs">Intoduction</a></h2>

<h2 id="getting-started">Getting Started</h2>
<ul>
    <li><a href="/docs/v4/setup">Setup</a></li>
    <li><a href="/docs/v4/configuration">Configuration</a></li>
    <li><a href="/docs/v4/tutorial">Absolute Beginner Tutorial</a></li>
    <li><a href="/docs/v4/quick-reference">Quick Reference</a></li>
    <li><a href="/docs/v4/resource-uri">Resource URIs</a></li>
    <li><a href="/docs/v4/representation-format">Representation Format</a></li>
    <li><a href="/docs/v4/tutorials">Tutorials</a></li>
    <li><a href="/docs/v4/performances">Performances</a></li>
    <li><a href="/docs/v4/clustering">Clustering & Load Balancing</a></li>
</ul>

<h2 id="upgrading-from-3"><a href="/docs/v4/upgrade-to-v4">Upgrade to v4</a></h2>
<h2 id="upgrading-from-3"><a href="/docs/v4/roadmap">Roadmap</a></h2>

<h2 id="content-api">Content API</h2>
<ul>
    <li><a href="/docs/v4/read-docs">Read JSON Documents</a></li>
    <li><a href="/docs/v4/write-docs">Write JSON Documents</a></li>
    <li><a href="/docs/v4/files">Binary Files with GridFS</a></li>
    <li><a href="/docs/v4/aggregations">Aggregations</a></li>
    <li><a href="/docs/v4/csv">Upload CSV files</a></li>
    <li><a href="/docs/v4/json-schema-validation">JSON Schema Validation</a></li>
    <li><a href="/docs/v4/change-streams">Change Streams</a></li>
    <li><a href="/docs/v4/transactions">Transactions</a></li>
</ul>

<h2 id="mgmt-api">Management API</h2>
<ul>
    <li><a href="/docs/v4/mgmt/dbs-collections">Databases and Collections</a></li>
    <li><a href="/docs/v4/mgmt/indexes">Indexes</a></li>
    <li><a href="/docs/v4/mgmt/relationships">Relationships</a></li>
</ul>

<h2 id="security">Securing Requests</h2>
<ul>
    <li><a href="/docs/v4/security/overview">Overview</a></li>
    <li><a href="/docs/v4/security/authentication">Authentication</a></li>
    <li><a href="/docs/v4/security/authorization">Authorization</a></li>
    <li><a href="/docs/v4/security/user-management">User Management</a></li>
    <li><a href="/docs/v4/security/tls">Configure TLS</a></li>
    <li><a href="/docs/v4/security/secure-connection-to-mongodb">Secure connection to MongoDB</a></li>
    <li><a href="/docs/v4/security/how-clients-authenticate">How Clients Authenticate</a></li>
</ul>


<h2 id="plugins">Plugins</h2>
<ul>
    <li><a href="/docs/v4/plugins/overview">Overview</a></li>
    <li><a href="/docs/v4/plugins/apply">Apply plugins</a></li>
    <li><a href="/docs/v4/plugins/list">Available plugins</a></li>
</ul>

<h2 id="develop-core-plugins">Develop Plugins</h2>
<ul>
    <li><a href="/docs/v4/develop/core-plugins">Core Plugins</a></li>
    <li><a href="/docs/v4/develop/security-plugins">Security Plugins</a></li>
    <li><a href="/docs/v4/develop/packaging">Packaging Plugins</a></li>
    <li><a href="/docs/v4/develop/best-practices">Best practices</a></li>
</ul>

<h2 id="other-fatures">Other Features</h2>
<ul class="mb-5">
    <li><a href="/docs/v4/etag">ETag</a></li>
    <li><a href="/docs/v4/cors-support">CORS Support</a></li>
    <li><a href="/docs/v4/shard-keys">Shard Keys</a></li>
    <li><a href="/docs/v4/speedup-requests-with-cursor-pools">Cursor Pools</a></li>
    <li><a href="/docs/v4/monitoring">Monitoring</a></li>
    <li><a href="/docs/v4/auditing">Auditing</a></li>
</ul>
