<h2 id="get-started"><a href="/docs">Get Started</a></h2>
<ul>
    <li><a href="/docs/setup">Setup</a></li>
    <li><a href="/docs/try">Try RESTHeart online</a></li>
    <li><a href="/docs/tutorial">Absolute Beginner Tutorial</a></li>
    <li><a href="/docs/video-tutorials"><strong>Video Tutorials</strong></a></li>
    <li><a href="/docs/ng-demo">A simple Angular demo</a></li>
    <li><a href="/docs/quick-reference">Quick Reference</a></li>
    <li><a href="/docs/resource-uri">Resource URIs</a></li>
    <li><a href="/docs/graalvm"><strong>GraalVM</strong></a></li>
    <li><a href="/docs/representation-format">Representation Format</a></li>
    <li><a href="/docs/logging">Logging</a></li>
    <li><a href="/docs/tutorials">Other tutorials</a></li>
    <li><a href="/docs/performances">Performances</a></li>
    <li><a href="/docs/clustering">Clustering & Load Balancing</a></li>
    <li><a href="/docs/enterprise-license">Enterprise License</a></li>
</ul>

<h2 id="upgrade-to-v5"><a href="/docs/upgrade-to-v6">Upgrade to v6</a></h2>
<h2 id="roadmap"><a href="/docs/roadmap">Roadmap</a></h2>

<strong class="text-muted" id="content-api">Content API</strong>
<ul>
    <li><strong class="text-muted">REST</strong>
        <ul>
            <li><a href="/docs/read-docs">Read JSON Documents</a></li>
            <li><a href="/docs/write-docs">Write JSON Documents</a></li>
            <li><a href="/docs/files">Binary Files with GridFS</a></li>
            <li><a href="/docs/aggregations">Aggregations</a></li>
            <li><a href="/docs/mgmt/dbs-collections">Manage Dbs and Collections</a></li>
            <li><a href="/docs/mgmt/indexes">Indexes</a></li>
            <li><a href="/docs/mgmt/relationships">Relationships</a></li>
            <li><a href="/docs/csv">Upload CSV files</a></li>
            <li><a href="/docs/json-schema-validation">JSON Schema Validation</a></li>
            <li><a href="/docs/transactions">Transactions</a></li>
        </ul>
    </li>
    <li><h2><a href="/docs/graphql">GraphQL</a></h2></li>
    <li><h2><a href="/docs/change-streams">WebSockets</a></h2></li>
</ul>

<p class="text-muted" id="security">Securing Requests</p>
<ul>
    <li><a href="/docs/security/overview">Overview</a></li>
    <li><a href="/docs/security/authentication">Authentication</a></li>
    <li><a href="/docs/security/authorization">Authorization</a></li>
    <li><a href="/docs/security/user-management">User Management</a></li>
    <li><a href="/docs/security/tls">Configure TLS</a></li>
    <li><a href="/docs/security/secure-connection-to-mongodb">Secure connection to MongoDB</a></li>
    <li><a href="/docs/security/how-clients-authenticate">How Clients Authenticate</a></li>
</ul>

<p class="text-muted" id="plugins">Plugins</p=>
<ul>
    <li><a href="/docs/plugins/overview">Overview</a></li>
    <li><a href="/docs/plugins/dev-env">Development Environment Setup</a></li>
    <li><a href="/docs/plugins/core-plugins">Core Plugins</a></li>
    <li><a href="/docs/plugins/security-plugins">Security Plugins</a></li>
    <li><a href="/docs/plugins/deploy">How to deploy a Plugin</a></li>
</ul>

<p class="text-muted" id="other-fatures">Other Features</p>
<ul>
    <li><a href="/docs/proxy">Proxying requests</a></li>
    <li><a href="/docs/static-resources">Serving static resources</a></li>
    <li><a href="/docs/etag">ETag</a></li>
    <li><a href="/docs/cors-support">CORS Support</a></li>
    <li><a href="/docs/shard-keys">Shard Keys</a></li>
    <li><a href="/docs/speedup-requests-with-cursor-pools">Cursor Pools</a></li>
    <li><a href="/docs/monitoring">Monitoring</a></li>
    <li><a href="/docs/auditing">Auditing</a></li>
</ul>