<h2 id="installation-and-configuration">Installation and Configuration</h2>
<ul>
    <li><a href="/learn/setup">Setup</a></li>
    <li><a href="/learn/configuration-file">Configuration File</a></li>
    <li><a href="/learn/security">Security</a></li>
</ul>

<h2 id="for-beginners">For beginners</h2>
<ul>
    <li><a href="/learn/tutorial">Tutorial</a></li>
    <li><a href="/learn/articles">Articles</a></li>    
</ul>

<h2 id="api">API</h2>
<ul>
    <li><a href="/learn/resource-uri">Resource URIs</a></li>
    <li><a href="/learn/representation-format">Representation Format</a></li>
    <li><a href="/learn/quick-reference">Quick Rererence</a></li>
    <li><a href="/learn/query-documents">Query Documents</a></li>
    <li><a href="/learn/write-requests">Write Requests</a></li>
    <li><a href="/learn/files-buckets">Files Bucket (GridFS)</a></li>
    <li><a href="/learn/aggregations">Aggregations</a></li>
    <li><a href="/learn/json-schema-validation">Data validation with JSON Schema</a></li>
    <li><a href="/learn/change-streams">Change Streams</a></li>
    <li><a href="/learn/transactions">Transactions</a></li>
    <li><a href="/learn/relationships">Relationships</a></li>
    <li><a href="/learn/indexes">Indexes</a></li>
    <li><a href="/learn/etag">ETag</a></li>
    <li><a href="/learn/cors-support">CORS Support</a></li>
    <li><a href="/learn/shard-keys">Shard Keys</a></li>
</ul>

<h2 id="core-plugins">Core Plugins</h2>
<ul>
    <li><a href="/learn/request-transformers">Transformers</a></li>
    <li><a href="/learn/request-checkers">Checkers</a></li>
    <li><a href="/learn/request-hooks">Hooks</a></li>
    <li><a href="/learn/application-logic">Services</a></li>
    <li><a href="/learn/static-content">Static content</a></li>
    <li><a href="/learn/initializer">Initializers</a></li>
    <li><a href="/learn/custom-code-packaging-howto">Package plugins</a></li>
</ul>

<h2 id="security-plugins">Security Plugins</h2>
<ul>
    <li><a href="/learn/security/auth-mechanisms">Authentication Mechanisms</a></li>
    <li><a href="/learn/security/authenticators">Authenticators</a></li>
    <li><a href="/learn/security/authorizers">Authorizers</a></li>
    <li><a href="/learn/security/token-managers">Token Managers</a></li>
    <li><a href="/learn/security/services">Services</a></li>
    <li><a href="/learn/security/initializers">Initializers</a></li>
    <li><a href="/learn/security/interceptors">Interceptors</a></li>
    <li><a href="/learn/custom-code-packaging-howto">Package plugins</a></li>
</ul>
   
</ul>
<h2 id="tuning-and-monitoring">Tuning and Monitoring</h2>
<ul class="mb-5">
    <li><a href="/learn/speedup-requests-with-cursor-pools">Cursor Pools</a></li>
    <li><a href="/learn/requests-metrics">Metrics on Requests</a></li>
    <li><a href="/learn/opentracing">Opentracing / zipkin headers support</a></li>
    <li><a href="/learn/performances">Performances</a></li>
</ul>

