<div class="container mt-4 mb-5">
    <div class="row align-items-center justify-content-between">
        <h1 class="text-center mb-0">
            <a href="/learn" class="btn btn-success btn-docs">
                <span class="icon-left"></span>
            </a>
            {{ page.title }}
        </h1>

        <button type="button" class="ml-auto btn btn-secondary ">Large button</button>
        <button type="button" class="ml-3 mr-3 btn btn-outline-secondary ">Large button</button>
        <button type="button" class="mr-auto btn btn-outline-secondary ">Large button</button>
    </div>
</div>