<style>
.highlight {
background-color: #eff2f3;
}
</style>
<section class="examples mt-1 mb-5">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item"><a class="examples__link nav-link active" data-toggle="tab" href="#ws" role="tab">Web Service</a></li>
        <li class="nav-item"><a class="examples__link nav-link" data-toggle="tab" href="#kotlin" role="tab">Try with Kotlin</a></li>
        <li class="nav-item"><a class="examples__link nav-link" data-toggle="tab" href="#interceptor" role="tab">Interceptor</a></li>
    </ul>
    <div class="tab-content pt-4 pb-5">
        <div class="tab-pane fade show active" id="ws" role="tabpanel">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4 mb-4">
                            <h2 class="examples__title">Implement web services in minutes.</h2>
                            <p class="examples__desc">
                                Implement a simple interface and deploy the web service
                                by copying its jar file into the plugins directory.
                            </p>
                            <a href="https://github.com/SoftInstigate/restheart-examples" target="_blank" class="btn btn-o-white">More examples</a>
                        </div>
                        <div class="col-md-8">
{% highlight java %}
@RegisterPlugin(name = "greeterService", 
    description = "sends a greetings message",
    defaultURI = "/greetings")
public class GreeterService implements JsonService {
    @Override
    public void handle(JsonRequest request, JsonResponse response) {
        if (request.isGet()) {
            var content = new JsonObject();
            content.addProperty("message", "Hello World!");
            response.setContent(content);
        } else {
            response.setStatusCode(400);
        }
    }
}
{% endhighlight %}
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab-pane fade show" id="kotlin" role="tabpanel">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 mb-4">
                        <h2 class="examples__title">Implement plugins in Kotlin.</h2>
                        <p class="examples__desc">
                            You can use Java and <strong>Kotlin</strong> to implement plugins.
                        </p>
                        <a href="https://github.com/SoftInstigate/restheart-examples/tree/master/kotlin-greeter-service" target="_blank" class="btn btn-o-white">Kotlin Service example</a>
                    </div>
                    <div class="col-md-8">
{% highlight java %}
@RegisterPlugin(name = "kotlinGreeterService",
description = "sends a greetings message, implemented in Kotlin",
defaultURI = "/greetings")
class GreeterServiceKt : JsonService {
    override fun handle(request: JsonRequest?, response: JsonResponse?) {
        if (request?.isGet!!) {
            var greetings = JsonObject()
            greetings.addProperty("msg", "Hello World!")
            response?.content = greetings;
        } else {
            response?.statusCode = 400;
        }
    }
}
{% endhighlight %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="interceptor" role="tabpanel">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 mb-4">
                        <h2 class="examples__title">Snoop and modify requests at different
                            stages of their lifecycle.</h2>
                            <p class="examples__desc">
                                This interceptor applies to requests of the hello web service adding a timestamp to the response content.
                            <br/>
                                Interceptor can be executed at different points of the request as defined 
                                by the <i>interceptPoint</i> parameter of the annotation <i>RegisterPlugin</i>
                            </p>
                        <a href="https://github.com/SoftInstigate/restheart-examples" target="_blank" class="btn btn-o-white">More examples</a>
                    </div>
                    <div class="col-md-8">
{% highlight java %}    
@RegisterPlugin(name = "helloInterceptor", 
    description = "add a timestamp to the response of /hello",
    interceptPoint = InterceptPoint.RESPONSE)
public class HelloInterceptor implements JsonInterceptor {
    @Override
    public void handle(JsonRequest request, JsonResponse response) throws Exception {
        // add timestamp property to the response
        response.getContent()
                .getAsJsonObject()
                .addProperty("timestamp", Instant.now().toString());
    }

    @Override
    public boolean resolve(JsonRequest request, JsonResponse response) {
        // apply for request handled by hello service 
        // when the response content is a JSON Object
        return request.isHandledBy("hello")
                && response.getContent() != null
                && response.getContent().isJsonObject();
    }
}
{% endhighlight %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>