<script type="text/javascript">
  window["openES6Example"] = () => {
    const html = `<pre id="app"></pre>`;
    const code = `const url = encodeURI('https://demo.restheart.org/messages?filter={"from":"Bob"}&pagesize=1');

fetch(url)
  .then(response => response.json())
  .then(json => JSON.stringify(json, null, 2))
  .then(data => document.getElementById('app').innerHTML = data);`;

    const project = {
      files: {
        "index.html": html,
        "index.js": code,
      },
      title: "ES6 RESTHeart starter",
      description: "Blank starter project for building ES6 apps.",
      template: "javascript",
      tags: ["restheart", "ES6"],
      dependencies: null,
    };

    StackBlitzSDK.openProject(project);
  };
</script>

<section class="examples mt-1 mb-5 black-background">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#httpie"
        role="tab"
        >httpie</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#curl"
        role="tab"
        >cURL</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link active"
        data-bs-toggle="tab"
        href="#js"
        role="tab"
        >JavaScript</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#java"
        role="tab"
        >Java</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#python"
        role="tab"
        >Python</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#swift"
        role="tab"
        >Swift</a
      >
    </li>
  </ul>
  <div class="tab-content pt-4 pb-5">
    <div class="tab-pane fade" id="httpie" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">
              Query documents from the command line with httpie.
            </h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the brilliant
              <a class="text-danger" href="https://httpie.org" target="_blank"
                >httpie</a
              >, a modern command line HTTP client.
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8 sm">
            {% highlight bash %}
$ http -b GET https://demo.restheart.org/messages'?filter={"from":"Bob"}&pagesize=1'

[
  {
    "_id": { "$oid": "5c50963e477870eb8258fa68" },
    "from": "Bob",
    "message": "was here"
  }
]
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="curl" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">
              Query documents from the command line with cURL.
            </h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query (that needs to
              be encoded with `-G --data-urlencode` option since it contains the
              curly brackets) and <code class="black">pagesize</code> to limit
              the response to one document.
              <br />
              Here we use the immortal
              <a
                target="_blank"
                class="text-danger"
                href="https://curl.haxx.se/"
                >cURL</a
              >!
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight bash %}
$ curl -G --data-urlencode 'filter={"from":"Bob"}' \
  https://demo.restheart.org/messages?pagesize=1

[
  {
    "_id": { "$oid": "5c50963e477870eb8258fa68" },
    "from": "Bob",
    "message": "was here"
  }
]
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="js" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with JavaScript.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the
              <a
                target="_blank"
                class="text-danger"
                href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch"
                >fetch API</a
              >.
            </p>
            <a onclick="openES6Example()" class="btn btn-o-white">Run it</a>
          </div>
          <div class="col-md-8">
            {% highlight javascript %}
const url = encodeURI('https://demo.restheart.org/messages?filter={"from":"Bob"}&pagesize=1');

fetch(url)
  .then(response => response.json())
  .then(json => JSON.stringify(json, null, 2))
  .then(docs => console.log(docs));
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="java" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with Java.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the
              <a
                class="text-danger"
                href="http://kong.github.io/unirest-java"
                target="_blank"
                >unirest</a
              >
              java http library.
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight java %}
public void printOutMessages() throws UnirestException {
  var resp = Unirest.get("https://demo.restheart.org/messages")
    .queryString("filter", "{'from':'Bob'}")
    .queryString("pagesize", "1")
    .asJson();
  
  // print out each message
  resp.getBody().getArray().forEach(msg -> 
    System.out.println(msg.toString())
  );
}
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="python" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with Python.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              This example uses the popular
              <a class="text-danger" href="https://requests.readthedocs.io/" target="_blank">requests</a>
              library.
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight python %}
import requests
import json

url = "https://demo.restheart.org/messages"
params = {
    "filter": '{"from":"Bob"}',
    "pagesize": "1"
}

response = requests.get(url, params=params)
data = response.json()

print(json.dumps(data, indent=2))
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="swift" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with Swift.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              This example uses modern Swift with async/await (Swift 5.5+).
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight swift %}
import Foundation

func fetchMessages() async throws {
  var components = URLComponents(string: "https://demo.restheart.org/messages")
  components?.queryItems = [
    URLQueryItem(name: "pagesize", value: "1"),
    URLQueryItem(name: "filter", value: "{\"from\":\"Bob\"}")
  ]
  
  guard let url = components?.url else {
    throw URLError(.badURL)
  }
  
  let (data, _) = try await URLSession.shared.data(from: url)
  let json = try JSONSerialization.jsonObject(with: data)
  print(json)
}

// Usage
Task {
  try await fetchMessages()
}
{% endhighlight %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
