<script type="text/javascript">
  window["openES6Example"] = () => {
    const html = `<pre id="app"></pre>`;
    const code = `const url = encodeURI('https://demo.restheart.org/messages?filter={"from":"Bob"}&pagesize=1');

fetch(url)
  .then(response => response.json())
  .then(json => JSON.stringify(json, null, 2))
  .then(data => document.getElementById('app').innerHTML = data);`;

    const project = {
      files: {
        "index.html": html,
        "index.js": code,
      },
      title: "ES6 RESTHeart starter",
      description: "Blank starter project for building ES6 apps.",
      template: "javascript",
      tags: ["restheart", "ES6"],
      dependencies: null,
    };

    StackBlitzSDK.openProject(project);
  };
</script>

<section class="examples mt-1 mb-5 black-background">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#httpie"
        role="tab"
        >httpie</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#curl"
        role="tab"
        >cURL</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link active"
        data-bs-toggle="tab"
        href="#js"
        role="tab"
        >JavaScript</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#java"
        role="tab"
        >Java</a
      >
    </li>
    <li class="nav-item">
      <a
        class="examples__link nav-link"
        data-bs-toggle="tab"
        href="#swift"
        role="tab"
        >Swift</a
      >
    </li>
  </ul>
  <div class="tab-content pt-4 pb-5">
    <div class="tab-pane fade" id="httpie" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">
              Query documents from the command line with httpie.
            </h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the brilliant
              <a class="text-danger" href="https://httpie.org" target="_blank"
                >httpie</a
              >, a modern command line HTTP client.
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8 sm">
            {% highlight bash %} $ http -b GET
            https://demo.restheart.org/messages'?filter={"from":"Bob"}&pagesize=1'
            [ { "_id": { "$oid": "5c50963e477870eb8258fa68" }, "from": "Bob",
            "message": "was here" } ] {% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="curl" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">
              Query documents from the command line with cURL.
            </h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query (that needs to
              be encoded with --data-urlencode option since it contains the
              curly brackets) and <code class="black">pagesize</code> to limit
              the response to one document.
              <br />
              Here we use the immortal
              <a
                target="_blank"
                class="text-danger"
                href="https://curl.haxx.se/"
                >cURL</a
              >!
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight bash %} $ curl -G --data-urlencode
            'filter={"from":"Bob"}'
            https://demo.restheart.org/messages?pagesize=1 [ { "_id": { "$oid":
            "5c50963e477870eb8258fa68" }, "from": "Bob", "message": "was here",
            } ] {% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="js" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with JavaScript.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the
              <a
                target="_blank"
                class="text-danger"
                href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch"
                >fetch API</a
              >.
            </p>
            <a onclick="openES6Example()" class="btn btn-o-white">Run it</a>
          </div>
          <div class="col-md-8">
            {% highlight javascript %} const url =
            encodeURI('https://demo.restheart.org/messages?filter={"from":"Bob"}&pagesize=1');
            fetch(url) .then(response => response.json()) .then(json =>
            JSON.stringify(json, null, 2)) .then(docs => console.log(docs)); {%
            endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="java" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with Java.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to apply a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the
              <a
                class="text-danger"
                href="http://kong.github.io/unirest-java"
                target="_blank"
                >unirest</a
              >
              java http library.
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight java %} public void printOutMessages() throws
            UnirestException { var resp =
            Unirest.get("https://demo.restheart.org/messages")
            .queryString("filter", "{'from':'Bob'}") .queryString("pagesize",
            "1") .asJson(); // print out each message
            resp.getBody().getArray().forEach(msg ->
            System.out.println(msg.toString())); } {% endhighlight %}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="swift" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-4">
            <h2 class="examples__title">Query documents with Swift.</h2>
            <p class="examples__desc">
              The GET request has two query parameters:
              <code class="black">filter</code> to appy a query and
              <code class="black">pagesize</code> to limit the response to one
              document.
              <br />
              Here we use the JSONSerialization to parse the response body.
            </p>
            <a href="/try" class="btn btn-o-white">More examples</a>
          </div>
          <div class="col-md-8">
            {% highlight swift %} import UIKit import PlaygroundSupport var
            urlComponents = URLComponents(string:
            "https://demo.restheart.org/messages") // set the query parameters
            var queryItems = [URLQueryItem]()
            queryItems.append(URLQueryItem(name: "pagesize", value: "1"))
            queryItems.append(URLQueryItem(name: "filter", value:
            "{\"from\":\"Bob\"}")) urlComponents?.queryItems = queryItems var
            urlRequest = URLRequest(url: (urlComponents?.url)!) // set request
            method urlRequest.httpMethod = "GET"
            URLSession.shared.dataTask(with: urlRequest) { (data, response,
            error) in guard let dataResponse = data, error == nil else {
            print(error?.localizedDescription ?? "Response Error") return } do {
            let jsonResponse = try JSONSerialization.jsonObject(with:
            dataResponse, options: []) print(jsonResponse) } catch let jsonError
            { print(jsonError) } }.resume() // only needed in playground
            PlaygroundPage.current.needsIndefiniteExecution = true {%
            endhighlight %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
