<footer class="bs-docs-footer" style="margin-top: 10px">
    <section id="mainFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="bs-docs-social">
                    <ul class="socialNetwork">
                        <li><a href="https://twitter.com/softinstigate" class="tips" title="follow us on Twitter" data-original-title="follow us on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a>
                        </li>
                        <li><a href="https://github.com/softinstigate/restheart" class="tips" title="get the source code" data-original-title="get the source code" target="_blank"><i class="icon-code iconRounded"></i></a>
                        </li>
                    </ul>
                </div>
                <p>Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.softinstigate.com" target="_blank">SoftInstigate</a></p>
            </div>
        </div>
    </section>
</footer>