<footer class="bs-docs-footer mt-0">
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
  <div id="fb-root"></div>
  <section id="mainFooter">
    <div class="container-fluid">
      <div>
        <div class="bs-docs-social">
          <ul class="socialNetwork">
            <li class="ml-auto">
              <a href="https://twitter.com/softinstigate" class="tips" title="Follow us on Twitter" data-original-title="follow us on Twitter"
                target="_blank">
                <svg class="socialNetwork__icon"><use xlink:href="/images/sprite.svg#twitter" /></svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/softinstigate/restheart" class="tips" title="Get the source code" data-original-title="get the source code"
                target="_blank">
                <svg class="socialNetwork__icon"><use xlink:href="/images/sprite.svg#github" /></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        Made with
        <!--<span class="glyphicon glyphicon-heart"></span>-->
        <svg class="footer__like"><use xlink:href="/images/sprite.svg#like" /></svg>
        by
        <a href="https://www.softinstigate.com" target="_blank">SoftInstigate</a>
      </div>
      <div>
        <a href="https://softinstigate.com/privacy" class="mr-2 small">Privacy Policy</a>
        <a href="https://www.iubenda.com/privacy-policy/15571002/cookie-policy" class="small iubenda-nostyle no-brand iubenda-embed " title="Cookie Policy">Cookie Policy</a>
        <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>

      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

      <style type="text/css">
        #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
        #mergeRow-gdpr {margin-top: 20px;}
        #mergeRow-gdpr fieldset label {font-weight: normal;}
        #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
      </style>
      <div id="mc_embed_signup">
      <form action="https://restheart.us4.list-manage.com/subscribe/post?u=feca222ab19655640d718e40c&amp;id=c1152bed0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL"></label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email to subscribe to mailing list" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_feca222ab19655640d718e40c_c1152bed0d" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
</section>
  </section>
</footer>