<footer class="bs-docs-footer mt-0">
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
  <div id="fb-root"></div>
  <section id="mainFooter">
    <div class="container-fluid">
      <div>
        <div class="bs-docs-social">
          <ul class="socialNetwork">
            <li class="ml-auto">
              <a href="https://twitter.com/softinstigate" class="tips" title="Follow us on Twitter" data-original-title="follow us on Twitter"
                target="_blank">
                <svg class="socialNetwork__icon"><use xlink:href="/images/sprite.svg#twitter" /></svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/softinstigate/restheart" class="tips" title="Get the source code" data-original-title="get the source code"
                target="_blank">
                <svg class="socialNetwork__icon"><use xlink:href="/images/sprite.svg#github" /></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        Made with
        <!--<span class="glyphicon glyphicon-heart"></span>-->
        <svg class="footer__like"><use xlink:href="/images/sprite.svg#like" /></svg>
        by
        <a href="https://www.softinstigate.com" target="_blank">SoftInstigate</a>
      </div>
      <div>
        <a href="https://softinstigate.com/privacy" class="mr-2 small">Privacy Policy</a> 
        <a href="https://www.iubenda.com/privacy-policy/15571002/cookie-policy" class="small iubenda-nostyle no-brand iubenda-embed " title="Cookie Policy">Cookie Policy</a>
        <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
  </section>
</footer>