<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="RESTHeart.org">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="{{ "/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="{{ "/font-icons/custom-icons/css/custom-icons.css" | prepend: site.baseurl }}">
    <link type="text/css" rel="stylesheet" href="{{ "/font-icons/custom-icons/css/custom-icons-ie7.css" | prepend: site.baseurl }}">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="{{ "/css/docs.min.css" | prepend: site.baseurl }}">
    <!-- prettify -->
    <link rel="stylesheet" type="text/css" href="{{ "/css/prettify.css" | prepend: site.baseurl }}">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ "/css/layout.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/red.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/blog.css" | prepend: site.baseurl}}">
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ "images/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    {% include google_analytics.html %}
</head>
