<header id="mainHeader" class="fixed-top background-primary" role="banner">
    <div class="container-fluid">
        <nav class="navbar navbar-default scrollMenu navbar-expand-lg" role="navigation">
            <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
                <h2 class="text-white"><strong>REST</strong>Heart<small>®</small></h2>
            </a>
            <!-- Place this tag where you want the button to render. -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span
                    class="sr-only">Toggle navigation</span> &#x2630;</button>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                <ul class="nav navbar-nav ml-md-auto">
                    <li class="nav-item ml-1 ml-lg-2 ml-xl-4">
                        <a class="github-button" href="https://github.com/SoftInstigate/restheart" data-size="large" data-show-count="true" aria-label="Star SoftInstigate/restheart on GitHub">Star</a>
                    </li>
                    <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/docs" | prepend: site.baseurl }}">Docs</a></li>
                    <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/docs/try/" | prepend: site.baseurl }}"><strong>Try online</strong></a></li>
                    <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/docs/setup/" | prepend: site.baseurl }}"><strong>Download</strong></a></li>
                    <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/#features" | prepend: site.baseurl }}">Features</a></li>
                    <!-- <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/use-cases" | prepend: site.baseurl }}">Use cases</a></li> -->
                    <!-- <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/support" | prepend: site.baseurl }}">Support</a></li> -->
                    <!-- <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="https://medium.com/softinstigate-team">Blog</a></li> -->
                    <li class="nav-item"><a class="ml-1 ml-lg-2 ml-xl-4" href="{{ "/contact" | prepend: site.baseurl }}">Contacts</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
{% include run-restheart-seriously-banner.html %}
{% if page.docs_version != null and page.docs_version != 7 %}
<div class="alert alert-danger m-0 text-center" role="alert">
    <strong>RESTHeart 7 is the current stable release. Switch documentation to  <a href="{{ "/docs" | prepend: site.baseurl }}">v7</a></strong>
</div>
{% endif %}

<!-- only bounce slack button on home page-->
{% assign slack_classes = 'btn rounded-circle slack-button p-0' %}
{% if page.slack-bounce != null %}
  {% assign slack_classes = slack_classes | append: ' bounce' %}
{% endif %}
<a class="{{ slack_classes }}" href="https://restheart.slack.com/archives/C04E623LHGB" target="_blank">
    <svg class="mt-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-slack" viewBox="0 0 16 16">
        <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
    </svg>
    <div class="mt-1 text-sm">Slack</div>
</a>