<head>
   <meta charset="utf-8">
   <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
   <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
   <meta name="author" content="SoftInstigate srl">
   <meta name="keywords" content="api,restheart,mongodb,rest,restful,rest api,restful api,mongodb api,mongodb rest,mongodb rest api,mongodb restful api,mongodb http,content manager,content delivery,cms,json,geojson,geospatial,geospatial data,java,docker,mongodb docker">
   <!-- Open Graph -->
   <meta property="og:type" content="website">
   <meta property="og:url" content="{{site.url}}">
   <meta property="og:logo" content="/images/rh_logo.png">
   <meta property="og:image" content="/images/restheart_cover.png">
   <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
   <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
   <meta property="og:locale" content="en">
   <!-- Mobile Specific Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <!-- CSS -->
   <!-- Bootstrap  -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
   <!-- icon fonts -->
   <script src="{{ "/js/fontawesome.com_c39cf060d4.js" | prepend: site.baseurl}}"></script>
   <link type="text/css" rel="stylesheet" href="{{ "/font-icons/custom-icons/css/custom-icons.css" | prepend: site.baseurl }}">
   <link type="text/css" rel="stylesheet" href="{{ "/font-icons/custom-icons/css/custom-icons-ie7.css" | prepend: site.baseurl }}">
   <!-- Custom css -->
   <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl}}">
   <!-- Highlight.js theme-->
   <link rel="stylesheet" href="/assets/css/solarized-dark.css">
   <!-- animate-headline css-->
   <!-- <link rel="stylesheet" href="/assets/css/animated-headline/scss/style.scss"> -->
   <!-- js ================================================== -->
   <script src="https://code.jquery.com/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
   <script src="https://unpkg.com/@stackblitz/sdk/bundles/sdk.umd.js"></script>
   <script src="{{ "/js/carousel.js" | prepend: site.baseurl}}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>
   <!-- Github buttons. -->
   <script async defer src="https://buttons.github.io/buttons.js"></script>
   <!-- Favicons ================================================== -->
   <link rel="apple-touch-icon" sizes="57x57" href="{{ "/images/favicon/apple-icon-57x57.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/favicon/apple-icon-60x60.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/favicon/apple-icon-72x72.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/favicon/apple-icon-76x76.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/favicon/apple-icon-114x114.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/favicon/apple-icon-120x120.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/favicon/apple-icon-144x144.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/favicon/apple-icon-152x152.png" | prepend: site.baseurl }}">
   <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicon/apple-icon-180x180.png" | prepend: site.baseurl }}">
   <link rel="icon" type="image/png" sizes="192x192" href="{{ "/images/favicon/android-icon-192x192.png" | prepend: site.baseurl }}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon/favicon-32x32.png" | prepend: site.baseurl }}/">
   <link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicon/favicon-96x96.png" | prepend: site.baseurl }}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
   <link rel="manifest" href="{{ "/images/favicon/manifest.json" | prepend: site.baseurl }}">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
   <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
   {% include cookie_banner.html %}
   {% include google_analytics.html %}
   {% include hotjar.html %}
   <!-- Facebook Pixel Code -->
   <!-- <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '247390276472404');
      fbq('track', 'PageView');
   </script> -->
   <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=247390276472404&ev=PageView&noscript=1"
   /></noscript>
   <!-- End Facebook Pixel Code -->
</head>