<header id="mainHeader" class="navbar-fixed-top" role="banner">
    <div class="container">
        <nav class="navbar navbar-default scrollMenu" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
                    <h2>
                        <strong>REST</strong>HEART
                        <span style="font-size:12px">®</span>
                    </h2>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{{ "/" | prepend: site.baseurl }}"><i class="icon-comment"></i>Home</a> </li>
                    <li><a href="{{ "/blog" | prepend: site.baseurl }}"><i class="icon-thumbs-up"></i>Blog</a> </li>
                    <li><a href="{{ "/docs/v0.9/overview.html" | prepend: site.baseurl }}"><i class="icon-star"></i>Docs</a> </li>
                    <li><a href="https://github.com/SoftInstigate/RESTHeart/releases"><i class="icon-popup-1"></i>Download</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <a class="hidden-xs" href="https://github.com/softinstigate/restheart"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</header>