
 <div class="container-fluid bg-light m-0 p-0" style="border-bottom: 5px solid #9b253a; border-top: 5px solid #9b253a;">
    <div class="container bg-light">
        <div class="row my-0">
            <div class="col-12 col-md-6">
                <img class="img-fluid mx-auto d-block mt-3" width="300px" src="https://raw.githubusercontent.com/SoftInstigate/http-shell/master/plugins/plugin-client-default/images/httpshellImage.png"/>
            </div>
            <div class="col-12 col-md-6 px-5 py-3">
                <h2><strong>Introducing <span class="restheart-red">HTTP Shell</span></strong></h2>
                <div class="lead">A modern CLI alternative for developers for interacting with APIs and the perfect companion for RESTHeart.</div>
                <p class="text-muted small mt-2">A new Open Source gem from <a href="https://softinstigate.com" target="_blank">SoftInstigate</a></p>
                <a href="/docs/http-shell" class="btn btn-primary mt-2">More..</a>
            </div>
        </div>
    </div>
</div>