<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr style="background-color: lightyellow">
        <th width="20%" class="text-end">&nbsp;</th>
        <th width="25%">
          <img class="d-inline me-2" src="/images/octocat.png" width="20" />AGPL
          v3
        </th>
        <th width="25%">PRO</th>
        <th width="30%">ENTERPRISE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-end align-middle"><strong>Audience</strong></td>
        <td class="align-middle">Hobbyists / developers</td>
        <td class="align-middle">Small Business</td>
        <td class="align-middle">Med–Large Companies</td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>License</strong></td>
        <td class="align-middle">Open source</td>
        <td class="align-middle">
          <div>Commercial</div>
          <div class="small text-muted">No Custom Terms</div>
        </td>
        <td class="align-middle">
          <div>Commercial</div>
          <div class="small text-muted">
            with Custom Terms, price may vary depending on your legal
            requirements
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>OEM</strong></td>
        <td class="align-middle">
          <div>
            Distribute your product under the
            <a
              href="https://github.com/SoftInstigate/restheart/blob/master/LICENSE.txt"
              >AGPL</a
            >: the source code of any modified version, also running on public
            network servers, must be distributed.
          </div>
        </td>
        <td class="align-middle">
          <div>Possible</div>
          <div class="small text-muted">
            Requires a license key per instance
          </div>
        </td>
        <td class="align-middle">
          <div>Available as Custom Term</div>
          <div class="small text-muted">
            Redistribute your closed-source product embedding RESTHeart in high
            volumes
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>Clustering</strong></td>
        <td class="text-muted align-middle">n/a</td>
        <td class="text-muted align-middle">Unsupported</td>
        <td class="align-middle">
          <div>Available and supported</div>
          <div class="small text-muted">
            Configure highly available clusters connected to MongoDB Replica
            Sets and Shards
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>IP Warranty</strong></td>
        <td class="text-muted align-middle">n/a</td>
        <td class="text-muted align-middle">n/a</td>
        <td class="align-middle">
          <div>Available as Custom Term</div>
          <div class="small text-muted">
            Optional Remediation Warranty for IP claims
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle">
          <strong>Liability Insurance</strong>
        </td>
        <td class="text-muted align-middle">n/a</td>
        <td class="text-muted align-middle">n/a</td>
        <td class="align-middle">
          <div>Available as Custom Term</div>
          <div class="small text-muted">
            Optional protection for Direct Liability
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>Updates</strong></td>
        <td class="text-muted align-middle">n/a</td>
        <td rowspan="2" class="text-center align-middle">
          <div>First year included.</div>
          <div class="small text-muted">
            The maintenance can be extended by renewing at $600 per instance per
            year.
          </div>
        </td>
        <td rowspan="2" class="text-center align-middle">
          <div>First year included.</div>
          <div class="small text-muted">
            The maintenance can be extended by renewing the licenses at 80% of
            total licenses cost per year.
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle">
          <strong>Priority Bug Fixing</strong>
        </td>
        <td class="text-muted align-middle">n/a</td>
      </tr>
      <tr>
        <td class="text-end align-middle">
          <strong>Professional Services</strong>
        </td>
        <td class="text-muted align-middle">n/a</td>
        <td colspan="2" class="text-center align-middle">
          <div><a href="/services">Available</a></div>
          <div class="small text-muted">
            Consulting and training package, directly from RESTHeart's
            developers.
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>Pricing</strong></td>
        <td class="align-middle">Free</td>
        <td class="align-middle">
          <div>$950 per instance</div>
          <div class="small text-muted">VAT applies for EU based customers</div>
          <div class="small text-muted">
            <i class="icon-thumbs-up"></i>No limits on development instances
          </div>
          <div class="small text-muted">Volume discounts available</div>
        </td>
        <td class="align-middle">
          <div>
            Starting at $9500 for first instance and $4750 for additional
            instances
          </div>
          <div class="small text-muted">VAT applies for EU based customers</div>
          <div class="small text-muted">
            <i class="icon-thumbs-up"></i>No limits on development instances
          </div>
          <div class="small text-muted">
            Prices may vary depending on custom terms
          </div>
          <div class="small text-muted">Volume discounts available</div>
        </td>
      </tr>
      <tr>
        <td class="text-end align-middle"><strong>Purchasing</strong></td>
        <td class="text-muted align-middle">n/a</td>
        <td class="align-middle">Online with Credit Card</td>
        <td class="align-middle">Offer/Purchase Order Process Handling</td>
      </tr>
      <tr>
        <td class="text-end align-middle">&nbsp;</td>
        <td class="align-middle">&nbsp;</td>
        <td class="text-center align-middle">
          <a href="/docs/setup/" class="btn btn-info">Buy Online</a>
        </td>
        <td class="text-center">
          <a
            href="mailto:sales@softinstigate.com?subject=RESTHeart%20Commercial%20License%20Inquiry"
            class="btn btn-info"
            target="_blank"
            >Get in touch
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
