<div class="table-responsive">
    <table class="table text-center">
    <thead>
        <tr>
            <th width="20%" class="text-right">&nbsp;</th>
            <th width="25%"><img class="d-inline mr-2" src="/images/octocat.png" width="20">OSS</th>
            <th width="25%">PRO</th>
            <th width="30%">ENTERPRISE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right align-middle"><strong>Audience</strong></td>
            <td class="align-middle">Hobbyists</td>
            <td class="align-middle">Small Business</td>
            <td class="align-middle">Med–Large Companies</td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>License</strong></td>
            <td class="align-middle">AGPL v3</td>
            <td class="align-middle">
                <div>Commercial</div>
                <div class="small text-muted">No Custom Terms</div></td>
            <td class="align-middle">
                <div>Commercial</div>
                <div class="small text-muted">with Custom Terms, price may vary depending on requirements</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>OEM</strong></td>
            <td class="align-middle"><div>You must distribute your product under the AGPL and disclose source code to users interacting via network</div></td>
            <td class="align-middle">
                <div>Possible</div>
                <div class="small text-muted">Requires a license key per instance</div>
            </td>
            <td class="align-middle">
                <div>Available as Custom Term</div>
                <div class="small text-muted">Option to redistribute your product embedding RESTHeart</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>IP Warranty</strong></td>
            <td class="text-muted align-middle">n/a</td>
            <td class="text-muted align-middle">n/a</td>
            <td class="align-middle">
                <div>Available as Custom Term</div>
                <div class="small text-muted">Remediation warranty for IP claims</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>Liability Insurance</strong></td>
            <td class="text-muted align-middle">n/a</td>
            <td class="text-muted align-middle">n/a</td>
            <td class="align-middle">
                <div>Available as Custom Term</div>
                <div class="small text-muted">Protection for direct Liability</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>Updates</strong></td>
            <td class="text-muted align-middle">n/a</td>
            <td colspan="2" class="text-center align-middle">
                <div>First year included.</div>
                <div class="small text-muted">Extended by renewing the license at special price.</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>Priority Bug Fixing</strong></td>
            <td class="text-muted align-middle">n/a</td>
            <td colspan="2" class="text-center align-middle">
                <div>First year included.</div>
                <div class="small text-muted">Extended by renewing the license at special price.</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>Professional Services</strong></td>
            <td class="text-muted align-middle">n/a</td>
            <td colspan="2" class="text-center align-middle"><a href="/services">Available</a></td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>Pricing</strong></td>
            <td class="align-middle">Free</td>
            <td class="align-middle">
                <div>$950/year per instance</div>
                <div class="small text-muted"><i class=" icon-thumbs-up"></i>No limits on development and test instances</div>
                <div class="small text-muted">Volume discounts may apply</div>
            </td>
            <td class="align-middle">
                <div>$9.500 for first instance and $4.750 for additional instances</div>
                <div class="small text-muted"><i class=" icon-thumbs-up"></i>No limits on development and test instances</div>
                <div class="small text-muted">Prices may vary depending on License custom terms</div>
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle"><strong>Purchasing</strong></td>
            <td class="text-muted align-middle">n/a</td>
            <td class="align-middle">Online with Credit Card</td>
            <td class="align-middle">Offer/Purchase Order Process Handling</td>
        </tr>
        <tr>
        <td class="text-right align-middle">&nbsp;</td>
        <td class="align-middle">&nbsp;</td>
        <td class="text-center align-middle"><a href="/buy" class="btn btn-info">Buy Online</a></td>
        <td class="text-center"><a href="mailto:sales@softinstigate.com?subject=RESTHeart%20Commercial%20License%20Inquiry" class="btn btn-info" target="_blank">Get in touch </a></td>
        </tr>
    </tbody>
    </table>
</div>