<div
  class="container-fluid m-0 p-0"
  style="border-bottom: 5px solid var(--primarycolor)"
>
  <div class="container">
    <div class="row my-0">
      <div class="col-12 px-5 mb-0 py-1 mx-auto text-center">
        <h3 class="mb-0">
          <span class="text-muted d-none d-md-inline"
            >Looking for Cloud Services or Support? </span
          ><span class="text-white">Check </span
          ><a class="d-inline" href="https://restheart.com">restheart.com</a>
        </h3>
      </div>
    </div>
  </div>
</div>
