<div class="row">
    <article class="mt-4 mt-lg-0 col-lg-6">
        <div class="card newsText text-justified h-100 w-100">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="newsText__icon">
                        <a href="{{ "/use-cases/rest-api" | prepend: site.baseurl }}"><svg>
                                <use xlink:href=" /images/sprite.svg#mongodb" /></svg></a>
                    </div>
                    <h2><a href="{{ "/use-cases/rest-api" | prepend: site.baseurl }}">REST API for MongoDB</a></h2>
                </h5>

                <div>RESTHeart unlocks <strong>all the features</strong> of MongoDB. 
                <div class="mt-1">
                    CRUD operations, Queries, GridFs, Aggregations and many more are
                    accessible via a simple <strong>REST API</strong>.</div>
                </div>
                <div class="mt-1">
                    <strong>No server-side development</strong> is required so you can focus on building your
                    <strong>Application</strong> as all the <strong>database</strong> logic is available out of the box.
                </div>
                <div class="mt-1">
                    RESTHeart also provides strong a <strong>Security</strong> layer
                    for <strong>Authentication</strong> and <strong>Authorization</strong>.
                </div>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-m" href="{{ "/use-cases/rest-api" | prepend: site.baseurl }}">Read More</a>
            </div>
        </div>
    </article>

    <article class="mt-4 mt-lg-0 col-lg-6">
        <div class="card newsText text-justified h-100 w-100">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="newsText__icon">
                        <a href="{{ "/use-cases/content-management" | prepend: site.baseurl }}"><svg>
                                <use xlink:href="/images/sprite.svg#feather" /></svg></a>
                    </div>
                    <h2><a href="{{ "/use-cases/content-management" | prepend: site.baseurl }}">Content
                            Management</a></h2>
                </h5>

                <div>
                    RESTHeart allows to effectively manage content, such as
                    <strong>images</strong>, <strong>comments</strong>, <strong>tags</strong>,
                    <strong>categories</strong>, <strong>geolocalized data</strong>, 
                    <strong>audios</strong> and <strong>videos</strong>, 
                    via a solid <strong>REST API</strong>.
                </div>
                <div class="mt-1">
                    RESTHeart is the perfect <strong>API provider for the
                    <a target="_blank" href="https://jamstack.org">JAMstack</a></strong>.
                </div>
                <div class="mt-1">
                    You can build Single Page Applications much effectively
                    with <strong>Angular</strong>, <strong>React</strong>,
                    <strong>Vue</strong> frameworks 
                    and Mobile Apps on <strong>iOS</strong> or <strong>Android</strong> 
                    because you can focus on 
                    creating <strong>beautiful</strong> User Interfaces for your users.
                </div>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-m" href="{{ "/use-cases/content-management" | prepend: site.baseurl }}">Read More</a>
            </div>
        </div>
    </article>
</div>

<div class="row mt-lg-4">
    <article class="mt-4 mt-lg-0 col-lg-6">
        <div class="card newsText text-justified h-100 w-100">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="newsText__icon">
                        <a href="{{ "/use-cases/integration" | prepend: site.baseurl }}">
                            <svg><use xlink:href="/images/sprite.svg#torch" /></svg>
                        </a>
                    </div>
                    <h2>
                        <a href="{{ "/use-cases/integration" | prepend: site.baseurl }}">Integration</a>
                    </h2>
                </h5>
                <div>RESTHeart is an effective solution for <strong>Integration</strong> needs.
                </div>
                <div class="mt-1">
                    You can easily and effectively involve MongoDB
                    in your <strong>Integration Processes</strong>
                    because your <strong>Middleware</strong> can interact 
                    with the <strong>RESTHeart API</strong> using simple <strong>HTTP Connectors</strong>.
                </div>
                <div class="mt-1">
                    <strong>RESTHeart plugins</strong> allow you 
                    implement additional Web Services
                    and transform data to best fullfil your integration needs.
                </div>
                <div class="mt-1">
                    <strong>RESTHeart Security</strong> 
                    puts all interactions under control and allows to define 
                    <strong>role based access policies</strong> on data.
                </div>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-m" href="{{ "/use-cases/integration" | prepend: site.baseurl }}">Read More</a>
            </div>
        </div>
    </article>

    <article class="mt-4 mt-lg-0 col-lg-6">
        <div class="card newsText text-justified h-100 w-100">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="newsText__icon">
                        <a href="{{ "/use-cases/open-data-and-iot" | prepend: site.baseurl }}"><svg>
                                <use xlink:href="/images/sprite.svg#plane" /></svg></a>
                    </div>
                    <h2>
                        <a href="{{ "/use-cases/open-data-and-iot" | prepend: site.baseurl }}">Open Data and IoT</a>
                    </h2>
                </h5>
                <div>RESTHeart is a perfect fit for 
                    <strong>Open Data</strong> and <strong> Internet of Things</strong>
                    applications.
                    Data can be uploaded to RESTHeart via <strong>JSON</strong> calls or <strong>CSV</strong> files
                    and made immediately available through the <strong>REST API</strong>.
                </div>
                <div class="mt-1">
                    RESTHeart also leverages <strong>MongoDB's Geospatial support</strong> 
                    and stores <a target="_blank" href="https://en.wikipedia.org/wiki/GeoJSON"><strong>GeoJSON</strong></a> objects 
                    without the need to write complicated server-side code: 
                    <strong>geometries</strong> are then available to clients such as <strong>Google Maps</strong> via its API.
                </div>
                <div class="mt-1">
                    RESTHeart also handles the 
                    <a href="https://developers.google.com/transit/gtfs/"><strong>GTFS</strong></a> format 
                    for <strong>public transportation schedules</strong> 
                    thanks to a 
                    <a href="mailto:ask@restheart.org?subject=GTFS%20plugin%20Inquiry">commercial plugin</a>.
                </div>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-m" href="{{ "/use-cases/open-data-and-iot" | prepend: site.baseurl }}">Read More</a>
            </div>
        </div>
    </article>
</div>