<div class="container-fluid slice__features">
    <div class="row">
        <article class="mt-4 mt-lg-0 col-lg-4">
            <div class="card newsText text-justified h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="newsText__icon">
                            <a href="{{ "/use-cases/rest-api" | prepend: site.baseurl }}"><svg>
                                    <use xlink:href=" /images/sprite.svg#mongodb" /></svg></a>
                        </div>
                        <h2><a href="{{ "/use-cases/rest-api" | prepend: site.baseurl }}">REST API for MongoDB</a></h2>
                    </h5>

                    <div>
                        <h3>RESTHeart unlocks <strong>all the features</strong> of MongoDb via HTTP. Queries, Bulk
                            Updates,
                            GridFs, Aggregations, Map-reduce functions, Replica Sets, Shards, Indexing and many more are
                            accessible via a simple <strong>RESTful API</strong>.</h3>
                        <h3>
                            <strong>No server-side development</strong> is required so you can focus on building your
                            <strong>Web</strong> or <strong>Mobile apps</strong> or <strong>Enterprise Integration
                                System</strong>, as all the <strong>database</strong> logic is available out of the box.
                        </h3>
                        <h3>
                            RESTHeart also provides strong <strong>API & Web Security</strong> models for <strong>User
                                Authentication</strong>, <strong>Authorization</strong> and <strong>Caching</strong>.
                        </h3>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <a href="{{ "/use-cases/rest-api" | prepend: site.baseurl }}"><strong><i>Read
                                More</i></strong></a>
                </div>
            </div>
        </article>

        <article class="mt-4 mt-lg-0 col-lg-4">
            <div class="card newsText text-justified h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="newsText__icon">
                            <a href="{{ "/use-cases/content-management" | prepend: site.baseurl }}"><svg>
                                    <use xlink:href="/images/sprite.svg#feather" /></svg></a>
                        </div>
                        <h2><a href="{{ "/use-cases/content-management" | prepend: site.baseurl }}">Content
                                Management</a></h2>
                    </h5>

                    <h3>
                        RESTHeart allows to effectively manage and aggregate content and its metadata, such as
                        <strong>images</strong>, <strong>comments</strong>, <strong>tags</strong>,
                        <strong>categories</strong>, <strong>geolocalized data</strong>, <strong>audios</strong> and
                        <strong>videos</strong>, delivering it via a solid <strong>REST API</strong>.
                    </h3>
                    <h3>
                        You can build Single Page Applications with <strong>Angular</strong>, <strong>React</strong>,
                        <strong>Vue</strong> frameworks and <strong>iOS</strong> and <strong>Android</strong> Mobile
                        apps
                        much effectively, because you can focus on creating <strong>beautiful</strong> User Interfaces
                        for
                        your users.
                    </h3>
                    <h3>
                        RESTHeart is a perfect <strong>API provider for <a
                                href="https://jamstack.org">JAMstack</a></strong>
                        Web architectures, where it fits much more naturally that any WordPress customization.
                    </h3>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <a href="{{ "/use-cases/content-management" | prepend: site.baseurl }}"><strong><i>Read
                                More</i></strong></a>
                </div>
            </div>
        </article>
        <article class="mt-4 mt-lg-0 col-lg-4">
            <div class="card newsText text-justified h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="newsText__icon">
                            <a href="{{ "/use-cases/open-data-and-iot" | prepend: site.baseurl }}"><svg>
                                    <use xlink:href="/images/sprite.svg#plane" /></svg></a>
                        </div>
                        <h2>
                            <a href="{{ "/use-cases/open-data-and-iot" | prepend: site.baseurl }}">Open Data and IoT</a>
                        </h2>
                    </h5>
                    <h3>RESTHeart is a perfect fit for <strong>Open Data</strong> and <strong> Internet of
                            Things</strong>
                        solutions.
                        Data can be uploaded to RESTHeart via <strong>JSON</strong> calls or <strong>CVS</strong> files
                        and
                        made immediately available through the <strong>REST API</strong>.
                    </h3>
                    <h3>
                        RESTHeart also leverages <strong>MongoDb's Geospatial support</strong> and stores <a
                            href="https://en.wikipedia.org/wiki/GeoJSON"><strong>GeoJSON</strong></a> objects without
                        the
                        need to write complicated server-side code: <strong>geometries</strong> are then available to
                        clients such as <strong>Google Maps</strong> via its API.
                    </h3>
                    <h3>
                        RESTHeart also handles the <a
                            href="https://developers.google.com/transit/gtfs/"><strong>GTFS</strong></a> format for
                        <strong>public transportation schedules</strong> thanks to a <a
                            href="mailto:info@softinstigate.com?subject=GTFS%20plugin%20Inquiry">commercial plugin</a>.
                    </h3>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <a href="{{ "/use-cases/open-data-and-iot" | prepend: site.baseurl }}"><strong><i>Read
                                More</i></strong></a>
                </div>
            </div>
        </article>
    </div>
</div>