/* BOOSTRAP CUSTOMIZATION
================================================== */
@charset "utf-8";

/** tabs **/

.panel-default > .panel-heading {
    background: #0b69c0;

    &:hover {
        background: #fff;

        a {
            color: #0b69c0;
        }
    }
}

.panel-title > a {
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}

/* END BOOSTRAP CUSTOMIZATION
================================================== */

/* TYPOGRAPHY
================================================== */

body {
    background: #fff;
}

blockquote small {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: 0b69c0;
}

h2 {
    i {
        color: #999;
    }

    &.subTitle:after {
        background-color: #0b69c0;
    }
}

h1.noSubtitle:after {
    background-color: #0b69c0;
}

/*** parallax sections ***/

.paralaxText blockquote {
    &:before, &:after {
        color: #fff;
    }
}

#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4 {
    background-color: #0b69c0;
}

.paralaxText {
    blockquote, h1, h2, h3, p, i {
        color: #fff;
    }
}

/* END TYPOGRAPHY
================================================== */

/* LINKS AND BUTTONS
================================================== */

a {
    color: #0b69c0;

    &:hover {
        color: #0b69c0;
    }
}

.scrollspyNav .active a {
    color: #0b69c0;
}

ul.iconsList {
    li a {
        color: #555;

        &:hover {
            color: #0b69c0;
        }
    }

    i {
        color: #0b69c0;
    }
}

/*** buttons ***/
/*.btn {*/
/*background:#0b69c0;*/
/*color:#fff;*/
/*border:2px solid #fff;*/
/*}*/
/*.btn:hover {*/
/*color:#0b69c0;*/
/*border-color:#eee;*/
/*text-shadow:none;*/
/*background:#fff*/
/*}*/
/*.btn-primary {*/
/*background: #006dcc;*/
/*}*/
/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {*/
/*background: #555;*/
/*}*/
/*.btn-info {*/
/*background: #49AFCD;*/
/*}*/
/*.btn-success {*/
/*background: #5BB75B;*/
/*}*/
/*.btn-warning {*/
/*background: #FAA732;*/
/*}*/
/*.btn-danger {*/
/*background: #DA4F49;*/
/*}*/
/*.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover {*/
/*background:none;*/
/*border:none;*/
/*-moz-box-shadow: none;*/
/*-webkit-box-shadow:none;*/
/*box-shadow: none;*/
/*color:#49AFCD;*/
/*}*/
/*.btnWrapper {*/
/*border:1px solid #ccc;*/
/*}*/

/* END LINKS AND BUTTONS
================================================== */

/* MAIN MENU 
================================================== */

#mainHeader {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background: #0b69c0;

    .navbar-inner {
        background: #444;
        filter: none !important;
    }
}

#mainMenu ul li a, #resMainMenu ul li a {
    color: #444;
}

.navbar-default .navbar-nav > {
    .active > a {
        /* background: #0b69c0; */
        /* color:#fff; */
        border-bottom-color: #fff;
        color: #fff;
    }

    li > a {
        &:hover, &:focus {
            /* background: #0b69c0; */
            /* color:#fff; */
            border-bottom-color: #fff;
            color: #fff;
        }
    }

    .active > a {
        &:hover, &:focus {
            /* background: #0b69c0; */
            /* color:#fff; */
            border-bottom-color: #fff;
            color: #fff;
        }
    }
}

/* END MAIN MENU 
================================================== */

/* FOOTER 
================================================== */

footer {
    color: #777;
    background: #eee;
    border-top: 1px solid #555 s;
}

#footerRights {
    background-color: #fff;
    color: #999;
}

p.credits {
    color: #555;

    a {
        color: #0b69c0;
    }
}

/* END FOOTER 
================================================== */

/* HOME
================================================== */

#home h1 {
    color: #FFFFFF;
}

/* END HOME
================================================== */

/* SLIDERS
================================================== */

/*** FLEX ***/

.flexslider {
    box-shadow: none;
}

.slides .txt div {
    background: #444;
    color: #FFFFFF;
}

.flexslider {
    .flex-direction-nav a {
        background-color: #0b69c0;
    }

    .flex-control-paging li a:hover {
        background: #fff;
        border: 2px solid #fff;
    }
}

#sliderWrapper .flex-control-paging li a.flex-active {
    background: #fff;
    border: 2px solid #fff;
}

.flexslider {
    .flex-control-paging li a {
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
    }

    .flex-control-nav {
        background: transparent;
    }

    h1 {
        color: #fff;
        background-color: #0b69c0;
    }

    h2 {
        color: #fff;
        background-color: #333;
    }

    .caption p {
        background-color: #fff;
        color: #555;
    }
}

/*** flexHome ***/

#flexHome {
    h1, h2 {
        color: #fff;
        background: none;
    }
}

/*** END FLEX SLIDER ***/

/* END SLIDERS
================================================== */

/* PORTFOLIO
================================================== */

nav#filter a {
    background-color: #EEE;
    color: #555;

    &:hover, &.current {
        background-color: #0b69c0;
        color: #fff;
    }
}

li.filterTitle {
    color: #4F6266;
}

section#projectDescription {
    background-color: #F8F8F8;
}

.mask {
    background-color: #0b69c0;
}

/* END PORTFOLIO
================================================== */

/* MISCELANIOUS
================================================== */
/*** hover images ***/

.iconLinks a span {
    color: #fff;
}

/*** pricing table ***/

.pricingBloc {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);

    ul li {
        border-bottom: 1px solid #ddd;
        color: #444 !important;

        &:last-child {
            border-bottom: none;
        }
    }

    h2 {
        background-color: #555;
        color: #888 !important;
        border: none;
    }

    h3 {
        background-color: #777;
        color: #fff !important;
    }

    p {
        background-color: #eee;
        color: #444 !important;
    }

    &.focusPlan {
        margin-top: 0;
        border-color: #D1D1D1;

        h2 {
            background-color: #333;
            color: #fff !important;
        }

        h3 {
            background-color: #0b69c0;
            padding: 1.25em;
            color: #fff !important;
        }
    }
}

/*** Form ***/

.form-control {
    &:focus {
        /*border: none;*/
        border-color: transparent;
        background-color: #ddd;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: inset 0 0 0px 1px #ced4da;
    }

    color: #444;
    background-color: #ededed;
    background: none;

    /*border:none;*/
    border-color: transparent;
    box-shadow: inset 0 0 0px 1px #ced4da;
}

.error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

label.error {
    color: #fff;
    background-color: #B94A48;
    border: none;
}

#projectQuote {
    background: #ddd;
    color: #444;

    h3 {
        background: #ddd;
        color: #444;
    }
}

/* END MISCELANIOUS
================================================== */

/* NEKO CSS FRAMEWORK
================================================== */

/*** Feature box **/

.boxFeature i {
    color: #0b69c0;
}

/*** slices ***/

.slice {
    background-color: #fff;
    background-color: #fcfcfc;
}

.slice__features h3 {
    font-size: 18px;
    color: #333333;

    a {
        font-weight: bold;
        color: #0b69c0;
    }
}

/*** call to action ***/

.ctaBox {
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.ctaBoxFullwidth {
    border: none;
}

.ctaBox blockquote {
    color: #fff;
}

/*color1*/

.color1, .slice.color1, .bulle.color1, .ctaBox.color1 {
    background-color: #F7F7F7;
    color: #444;
}

.color1 {
    h1, h2, h3, h4, blockquote {
        color: #444;
    }

    a {
        color: #444;

        &.btn {
            color: #fff;

            &:hover {
                color: #0b69c0;
            }
        }
    }
}

/*color4*/

.color4, .slice.color4, .bulle.color4, .ctaBox.color4 {
    background-color: #0b69c0;
    color: #fff;
}

.color4 {
    h1, h2, h3, h4, blockquote, a {
        color: #fff;
    }

    h2.subTitle:after, h1.noSubtitle:after {
        background: #fff;
    }
}

/*** icons ***/

.iconRounded {
    border: 2px solid #0b69c0;
    color: #0b69c0;
    background-color: #fff;

    &:hover {
        background-color: #0b69c0;
        color: #fff;
    }
}

.color1 .iconRounded {
    &:hover {
        background-color: #0b69c0;
        color: #fff;
    }

    color: #0b69c0;
}

.color4 .iconRounded {
    background-color: #FFF;
    color: #0b69c0;
}

/* END NEKO CSS FRAMEWORK
================================================== */
