<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<html lang="en">
    <!--<![endif]-->
  {% include head.html %}

  <body>
        
    <a class="hidden-xs" href="https://github.com/softinstigate/restheart"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- End Document 
    ================================================== -->
    <script type="text/javascript" src="{{ "/js/jquery/1.8.3/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/jquery-ui/jquery-ui-1.8.23.custom.min.js" | prepend: site.baseurl }}"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="{{ "/bootstrap/js/bootstrap.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/docs.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
                /*
                 |--------------------------------------------------------------------------
                 | SHARRRE
                 |--------------------------------------------------------------------------
                 */
                if ($('#shareme').length) {

                    $('#shareme').sharrre({
                        share: {
                            googlePlus: true,
                            facebook: true,
                            twitter: true,
                            linkedin: true
                        },
                        buttons: {
                            googlePlus: {size: 'tall', annotation: 'bubble'},
                            facebook: {layout: 'box_count'},
                            twitter: {count: 'vertical'},
                            linkedin: {counter: 'top'}
                        },
                        enableHover: false,
                        enableCounter: false,
                        enableTracking: true,
                        //url:'document.location.href'
                    });
                }

    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49060386-2', 'auto');
        ga('send', 'pageview');

    </script>
  </body>

</html>