---
layout: default

##  for the menu to work:
# id (and subitem.id for second level page) must match the page menu.id (and menu.subid) in the referenced page
# don't specify the subitem.id if it links to an anchor of the item page

menu-l1-items:
 - href: /docs/overview.html
   title: Overview
   id: 1
 - href: /docs/get-up-and-running.html
   title: Installation
   id: 2   
 - href: /docs/walkthrough.html
   title: API walkthrough
   id: 3
 - href: /docs/concepts.html
   title: Concepts
   id: 4
   subitems:
    - href: /docs/resource-uri.html
      title: Resource URI
      id: 5
    - href: /docs/resource-representation-format.html
      title: Resource Representation Format
      id: 1
    - href: /docs/resource-types.html
      title: Resource Types
      id: 2
    - href: /docs/authentication.html
      title: Authentication
      id: 3
    - href: /docs/request-execution-optimization.html
      title: Request Execution Optimization
      id: 4
 - href: /docs/configuration.html
   title: Configuration
   id: 5
   subitems:
    - href: "#conf-listeners"
      title: Listeners
    - href: "#conf-ssl"
      title: ssl
    - href: "#conf-mongodb"
      title: MongoDB
    - href: "#conf-security"
      title: Security
    - href: "#conf-logging"
      title: Logging
    - href: "#conf-staticresources"
      title: Static resources
    - href: "#conf-applicationlogic"
      title: Application Logic
    - href: "#conf-performance"
      title: Performance settings
    - href: "#conf-example"
      title: Example
 - href: /docs/api.html
   title: API
   id: 6
   subitems:
    - href: "#api-root"
      title: root
    - href: "#api-db"
      title: db
    - href: "#api-coll"
      title: collection
    - href: "#api-indexes"
      title: indexes
    - href: "#api-doc"
      title: document
    - href: "#api-bucket"
      title: file bucket
    - href: "#api-file"
      title: file
 - href: /docs/performances.html
   title: Performances
   id: 7
---

<div class="mb30"></div>

<div class="container">


    <div class="row">
        <div class="col-md-10">
            <h1 id="api" class="page-header">{{ page.title }}</h1>

            {{ content }}
        </div>

        <!-- sidebar -->
        <nav class="col-md-2">
            <div class="nav bs-docs-sidebar affix hidden-xs hidden-sm" role="complementary">
                <ul class="nav">
                    {% for item in page.menu-l1-items %}

                    {% if {{page.menu.id}} == {{item.id}} %}

                        {% if {{item.subitems}} %}

                    <li class="active scroll-anchor">
                    <a href="#">{{item.title}}</a>
                    <ul class="nav">

                        {% for subitem in item.subitems %}

                        {% if {{subitem.id}} %}

                            {% if {{page.menu.subid}} == {{subitem.id}} %}
                                <li class="active"><a href="{{subitem.href}}">{{subitem.title}}</a></li>
                            {% else %}
                                <li><a href="{{subitem.href}}">{{subitem.title}}</a></li>
                            {% endif %}

                        {% else %}

                                <li><a class="anchor" href="{{subitem.href}}">{{subitem.title}}</a></li>
                    
                        {% endif %}

                        {% endfor %}

                    </ul>

                        {% else %}
                    
                    <li class="active"><a href="{{item.href}}">{{item.title}}</a></li>

                        {% endif %}

                    {% else %}
                    <li><a href="{{item.href}}">{{item.title}}</a></li>
                    {% endif %}

                    {% endfor %}

                </ul>
            </div>
        </nav>
        <!-- End sidebar -->       
    </div>
</div>

<!-- bottom nav for small devices -->
<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-md hidden-lg" role="navigation">
    <div class="text-center">
          {% for item in page.menu-l1-items %}

          {% if {{page.menu.id}} == {{item.id}} %}

            <a href="{{item.href}}" class="nav-bottom-item-level1"><strong>{{item.title}}</strong></a>
          
          {% else %}
            <a href="{{item.href}}" class="nav-bottom-item-level1">{{item.title}}</a>
          {% endif %}

          {% endfor %}            
    </div>
</nav> 