---
layout: default
---

<div class="container-fluid imgHover doc">
  <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <div class="bd-sidebar__head">
              <div class="dropdown d-flex justify-content-center w-100">
                  <button class="btn btn-secondary dropdown-toggle w-100 p-1 mb-2" type="button"
                      id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      v{{ page.docs_version }}
                  </button>
                  <div class="dropdown-menu mt-2 me-1 pb-2" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ "/docs" | prepend: site.baseurl }}">
                          {% if page.docs_version == 8 %}
                          <strong>v8</strong>
                          {% else %}
                          v8
                          {% endif %}
                      </a>
                      <a class="dropdown-item" href="{{ "/docs/v7" | prepend: site.baseurl }}">
                          {% if page.docs_version == 7 %}
                          <strong>v7</strong>
                          {% else %}
                          v7
                          {% endif %}
                      </a>
                      <a class="dropdown-item" href="{{ "/docs/v6" | prepend: site.baseurl }}">
                          {% if page.docs_version == 6 %}
                          <strong>v6</strong>
                          {% else %}
                          v6
                          {% endif %}
                      </a>
                      <a class="dropdown-item" href="{{ "/docs/v5" | prepend: site.baseurl }}">
                          {% if page.docs_version == 5 %}
                          <strong>v5</strong>
                          {% else %}
                          v5
                          {% endif %}
                      </a>
                      <a class="dropdown-item" href="{{ "/docs/v4" | prepend: site.baseurl }}">
                          {% if page.docs_version == 4 %}
                          <strong>v4</strong>
                          {% else %}
                          v4
                          {% endif %}
                      </a>
                      <a class="dropdown-item" href="{{ "/docs/v3" | prepend: site.baseurl }}">
                          {% if page.docs_version == 3 %}
                          <strong>v3</strong>
                          {% else %}
                          v3
                          {% endif %}
                      </a>
                  </div>
              </div>
              <form action="https://www.google.com/search" class="form bd-sidebar__search d-flex" method="get"
                  name="searchform" target="_blank">
                  <input name="sitesearch" type="hidden" value="restheart.org/docs">
                  <input autocomplete="on" class="form-control input-sm search bd-sidebar__input" name="q"
                      placeholder="Search" required="required" type="text">
                  <button class="bd-sidebar__submit" type="submit">
                      <svg width="16" height="16">
                          <use xlink:href="/images/sprite.svg#search" /></svg>
                  </button>
              </form>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <a href="https://github.com/SoftInstigate/restheart-website/edit/master/{{ page.path }}"
                      class="small mt-2 mb-1 ml-lg-auto"><i class="icon-pencil"></i>Edit Page</a>
                  <button class="btn btn-link bd-sidebar__toggle p-0 mb-1 d-md-none" type="button"
                      data-bs-toggle="collapse" data-bs-target="#bd-sidebar__menu" aria-controls="bd-sidebar__menu"
                      aria-expanded="false" aria-label="Toggle docs navigation">
                      Table of Contents
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30"
                          focusable="false">
                          <title>Menu</title>
                          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
                      </svg>
                  </button>
              </div>
          </div>

          <nav class="bd-sidebar__menu collapse d-md-block" id="bd-sidebar__menu">
              {% if page.docs_version == 4 %}
                  {% include docs-v4-sidebar.html %}
              {% elsif page.docs_version == 3 %}
                  {% include docs-v3-sidebar.html %}
              {% elsif page.docs_version == 5 %}
                  {% include docs-v5-sidebar.html %}
              {% elsif page.docs_version == 6 %}
                  {% include docs-v6-sidebar.html %}
              {% elsif page.docs_version == 7 %}
                  {% include docs-v7-sidebar.html %}
              {% else %}
                  {% include docs-sidebar.html %}
              {% endif %}
          </nav>
      </div>

      <div class="d-none d-xl-block col-xl-2 order-last bd-toc">
          {{ page.document | tocify_asciidoc }}
      </div>
      <div class="col-12 col-md-9 col-xl-8 py-md-3 bd-content pt-0">
          {% include docs-head.html %}
          {{ content }}
      </div>
  </div>
</div>
