---
layout: default
---

<div class="container-fluid imgHover doc">
  <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <div class="bd-sidebar__head">
              <div class="d-flex gap-2 mb-2">
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle p-1" type="button"
                          id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          style="min-width: 70px; height: 2rem;">
                          v{{ page.docs_version }}
                      </button>
                      <div class="dropdown-menu mt-2 me-1 pb-2" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ "/docs/v9" | prepend: site.baseurl }}">
                              {% if page.docs_version == 9 %}
                              <strong>v9 (current)</strong>
                              {% else %}
                              v9 (current)
                              {% endif %}
                          </a>
                        <a class="dropdown-item" href="{{ "/docs" | prepend: site.baseurl }}">
                              {% if page.docs_version == 8 %}
                              <strong>v8</strong>
                              {% else %}
                              v8
                              {% endif %}
                          </a>
                      </div>
                  </div>
                  <form action="https://www.google.com/search" class="form bd-sidebar__search d-flex flex-grow-1" method="get"
                      name="searchform">
                      <input name="sitesearch" type="hidden" value="restheart.org/docs{% if page.docs_version and page.docs_version != 8 and page.docs_version != 9 %}/v{{ page.docs_version }}{% elsif page.docs_version == 9 %}/v9{% endif %}">
                      <input autocomplete="on" class="form-control input-sm search bd-sidebar__input" name="q"
                          placeholder="Search docs..." required="required" type="text">
                      <button class="bd-sidebar__submit" type="submit">
                          <svg width="16" height="16">
                              <use xlink:href="/images/sprite.svg#search" /></svg>
                      </button>
                  </form>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <a href="https://github.com/SoftInstigate/restheart-website/edit/master/{{ page.path }}"
                      class="small mt-2 mb-1 ml-lg-auto"><i class="icon-pencil"></i>Edit Page</a>
                  <button class="btn btn-primary bd-sidebar__toggle mb-2 d-md-none w-100" type="button"
                      data-bs-toggle="collapse" data-bs-target="#bd-sidebar__menu" aria-controls="bd-sidebar__menu"
                      aria-expanded="false" aria-label="Toggle docs navigation">
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="20" height="20"
                          focusable="false" style="display: inline-block; vertical-align: middle; margin-right: 8px;">
                          <title>Menu</title>
                          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
                      </svg>
                      Documentation Menu
                  </button>
              </div>
          </div>

          <nav class="bd-sidebar__menu collapse d-md-block" id="bd-sidebar__menu">
              {% if page.docs_version == 9 %}
                  {% include docs-v9-sidebar.html %}
              {% else %}
                  {% include docs-sidebar.html %}
              {% endif %}
          </nav>
      </div>

      <div class="d-none d-xl-block col-xl-2 order-last bd-toc">
          {{ page.document | tocify_asciidoc }}
      </div>
      <div class="col-12 col-md-9 col-xl-8 py-md-3 bd-content pt-0">
          {% include docs-head.html %}
          {{ content }}
      </div>
  </div>
</div>
