--- 
layout: default 
---

<div class="container mt30">
    <div class="row">
        <h1 style="text-align: center !important">
            <a href="/learn" class="btn btn-success">
                <span class="icon-left"></span>
            </a> {{ page.title }}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <a href="https://github.com/SoftInstigate/restheart-website/edit/gh-pages/{{ page.path }}" class="btn btn-info btn-sm pull-right ml15">Edit On Github</a>
        <form action="http://www.google.com/search" class="form searchform pull-right" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="restheart.org/learn">
            <input autocomplete="on" class="form-controls input-sm search" name="q" placeholder="Search the docs" required="required"
                type="text">
            <button class="btn btn-sm btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="mt10">&nbsp;</div>

<div class="container imgHover">
    <div class="row">
        <article>
            {{ content }}
        </article>
    </div>
</div>