--- 
layout: default 
---


<!--<div class="container mt-4">-->
    <!--<h1 class="text-center">-->
        <!--<a href="/learn" class="btn btn-success btn-docs">-->
            <!--<span class="icon-left"></span>-->
        <!--</a> {{ page.title }}</h1>-->
<!--</div>-->

<div class="container-fluid imgHover">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <form action="https://www.google.com/search" class="form searchform d-flex" method="get" name="searchform" target="_blank">
                <input name="sitesearch" type="hidden" value="restheart.org/learn">
                <input autocomplete="on" class="form-control input-sm search" name="q" placeholder="Search the docs" required="required"
                       type="text">
                <button class="btn btn-sm btn-primary" type="submit">Search</button>
            </form>
            <div class="row justify-content-end align-items-center">
                <a href="https://github.com/SoftInstigate/restheart/issues/new?labels=documentation&title=Suggested+improvements+for+page+%22{{ page.path }}%22&template=" class="btn btn-warning btn-sm pull-right ml-1" target="_blank">New issue</a>
                <a href="https://github.com/SoftInstigate/restheart-website/edit/gh-pages/{{ page.path }}" class="btn btn-info btn-sm pull-right ml-1">Edit On Github</a>
            </div>

            {% include docs-sidebar.html %}

        </div>


        {{ content }}
    </div>
</div>